Repository deepaucksharma/Phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepaucksharma, @core-team, @processor-team, @extension-team, @connector-team, @control-team, @test-team, @devops-team, @docs-team, @project-team, @admin-team

.github/CODEOWNERS:

# Phoenix CODEOWNERS File

# Default owners for everything
*                   @deepaucksharma

# Core components
/cmd/                @core-team
/internal/           @core-team
/pkg/                @core-team

# Specific component ownership
/internal/processor/  @processor-team
/internal/extension/  @extension-team
/internal/connector/  @connector-team
/internal/control/    @control-team

# Test ownership
/test/               @test-team

# Infrastructure
/.github/            @devops-team
/deploy/             @devops-team
/scripts/dev/        @devops-team

# Documentation
/docs/               @docs-team
*.md                 @docs-team

# Task definitions
/tasks/              @project-team

# Agent definitions
/agents/             @admin-team
/AGENTS.md           @admin-team

feat: Comprehensive project cleanup and consolidation
  README.md
  configs/control/optimization_mode.yaml
  configs/dashboards/phoenix-v3-ultra-overview.json
  configs/monitoring/grafana/grafana-dashboards.yaml
  configs/monitoring/prometheus/prometheus.yaml
  configs/monitoring/prometheus/rules/phoenix_rules.yaml
  configs/monitoring/prometheus_rules/phoenix_rules.yml
  configs/otel/collectors/main.yaml
  configs/otel/collectors/observer.yaml
  configs/otel/processors/common_intake_processors.yaml
  docker-compose.yaml
  docs/DEVELOPMENT.md
Owners: @docs-team, @deepaucksharma

Add improvements documentation, tests, and Docker image updates
  IMPROVEMENTS.md
  apps/control-actuator/tests/test-actuator.sh
  configs/monitoring/prometheus/rules/phoenix_rules.yaml.bak
  docker-compose.yaml
Owners: @docs-team, @deepaucksharma

Fix configuration issues identified in verification report
  .env.template
  README.md
  apps/control-actuator/update-control-file.sh
  configs/otel/collectors/observer.yaml
Owners: @deepaucksharma, @docs-team

Add comprehensive operational scripts and fix deployment issues
  .gitignore
  apps/control-actuator/update-control-file.sh
  docker-compose.yaml
  scripts/collect-debug-info.sh
  scripts/health-check.sh
  scripts/validate-data-flow.sh
Owners: @deepaucksharma

Streamline project: remove over-engineering and complexity drift
  IMPROVEMENTS.md
  README.md
  apps/control-actuator/tests/test-actuator.sh
  configs/monitoring/grafana/dashboards/phoenix-collector-ops.json
  configs/monitoring/grafana/dashboards/phoenix-mission-control.json
  configs/monitoring/grafana/dashboards/phoenix-pipeline-efficiency.json
  configs/monitoring/grafana/dashboards/phoenix-process-hotspots.json
  configs/monitoring/prometheus/rules/phoenix_rules.yaml.bak
  docker-compose.yaml
  docs/API.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/monitoring-setup.md
  scripts/collect-debug-info.sh
  scripts/health-check.sh
  scripts/validate-data-flow.sh
Owners: @docs-team, @deepaucksharma

Fix docker-compose dependencies and modernize format
  docker-compose.yaml
Owners: @deepaucksharma

Add comprehensive documentation of all configuration fixes applied
  docs/FIXES-APPLIED.md
Owners: @docs-team

Implement complete Phoenix-vNext Ultimate Process-Metrics Stack specification
  CHECKSUMS.txt
  configs/monitoring/grafana/grafana-datasource.yaml
  configs/otel/collectors/main.yaml
  configs/otel/collectors/observer.yaml
Owners: @deepaucksharma

Add cardinality observatory pipeline with explosion detection and auto-remediation
  apps/control-actuator/update-control-file.sh
  configs/otel/collectors/main.yaml
  configs/otel/collectors/observer.yaml
  docker-compose.yaml
Owners: @deepaucksharma

Add Prometheus recording rules and metric generator for advanced pipeline analysis
  configs/monitoring/prometheus/prometheus.yaml
  configs/monitoring/prometheus/rules/phoenix_rules.yml
  docker-compose.yaml
  scripts/phoenix-metric-generator.sh
Owners: @deepaucksharma

Add benchmark controller and advanced pipeline analysis tools
  apps/benchmark-controller/Dockerfile
  apps/benchmark-controller/go.mod
  apps/benchmark-controller/main.go
  configs/benchmark/config.yaml
  configs/monitoring/prometheus/rules/phoenix_rules.yml
  docs/FIXES-APPLIED.md
  docs/PIPELINE_ANALYSIS.md
Owners: @deepaucksharma, @docs-team

Clean up documentation and remove empty directories
  README.md
  docs/ARCHITECTURE.md
  docs/INDEX.md
  docs/MIGRATION_GUIDE.md
  docs/MONOREPO_STRUCTURE.md
  docs/PIPELINE_ANALYSIS.md
  docs/TROUBLESHOOTING.md
  docs/architecture/MODULAR_ARCHITECTURE.md
  docs/architecture/README.md
  tools/scripts/show-docs.sh
Owners: @docs-team, @deepaucksharma

Add comprehensive retrospective analysis
  README.md
  docs/IDEAL_VS_CURRENT.md
  docs/MISSING_FEATURES.md
  docs/RETROSPECTIVE.md
Owners: @docs-team

Add executive summary with key insights and recommendations
  EXECUTIVE_SUMMARY.md
Owners: @docs-team

Restore core functionality and enhance system reliability
  CORE_REQUIREMENTS.md
  FUNCTIONAL_IMPROVEMENTS.md
  monitoring/prometheus/rules/phoenix_core_rules.yml
  run-phoenix.sh
  services/control-plane/actuator/src/control-loop-enhanced.sh
  services/control-plane/observer/config/observer-enhanced.yaml
  services/validator/config/config.yaml
  tests/integration/test_core_functionality.sh
Owners: @docs-team, @deepaucksharma

Add comprehensive cloud deployment support for AWS and Azure
  deploy-aws.sh
  deploy-azure.sh
  docs/CLOUD_DEPLOYMENT.md
  infrastructure/helm/phoenix/Chart.yaml
  infrastructure/helm/phoenix/values.yaml
  infrastructure/kubernetes/base/deployments/collector.yaml
  infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/services/collector-service.yaml
  infrastructure/terraform/environments/aws/main.tf
  infrastructure/terraform/environments/aws/variables.tf
  infrastructure/terraform/environments/azure/main.tf
  infrastructure/terraform/environments/azure/variables.tf
Owners: @deepaucksharma, @docs-team

review
  configs/otel/collectors/main-optimized.yaml
  docs/ARCHITECTURAL_REVIEW_RESPONSE.md
Owners: @deepaucksharma, @docs-team

review
  .github/workflows/ci.yml
  .github/workflows/security.yml
  apps/anomaly-detector/Dockerfile
  apps/anomaly-detector/go.mod
  apps/anomaly-detector/main.go
  apps/control-actuator-go/Dockerfile
  apps/control-actuator-go/go.mod
  apps/control-actuator-go/main.go
  configs/monitoring/prometheus/rules/phoenix_comprehensive_rules.yml
  services/benchmark/Dockerfile
  services/benchmark/go.mod
  services/benchmark/main.go
Owners: @devops-team, @deepaucksharma

Implement production-ready enhancements based on architectural review
  CHANGES-SUMMARY.md
  README-ENHANCED.md
  apps/anomaly-detector/go.sum
  apps/anomaly-detector/main.go
  apps/control-actuator-go/go.sum
  apps/control-actuator-go/main.go
  configs/otel/exporters/newrelic-enhanced.yaml
  docker-compose.yaml
  monitoring/prometheus/prometheus.yaml
  scripts/newrelic-integration.sh
  services/benchmark/go.sum
Owners: @docs-team, @deepaucksharma

review
  backup-20250523-115143/apps/benchmark-controller/Dockerfile
  backup-20250523-115143/apps/benchmark-controller/go.mod
  backup-20250523-115143/apps/benchmark-controller/main.go
  backup-20250523-115143/apps/control-actuator/Dockerfile.actuator
  backup-20250523-115143/apps/control-actuator/update-control-file.sh
  backup-20250523-115143/apps/synthetic-generator/Dockerfile
  backup-20250523-115143/apps/synthetic-generator/generator.go
  backup-20250523-115143/apps/synthetic-generator/go.mod
  backup-20250523-115143/apps/synthetic-generator/go.sum
  backup-20250523-115143/configs/benchmark/config.yaml
  backup-20250523-115143/configs/control/optimization_mode.yaml
  backup-20250523-115143/configs/control/optimization_mode_template.yaml
  backup-20250523-115143/configs/monitoring/grafana/dashboards/phoenix-adaptive-control-loop.json
  backup-20250523-115143/configs/monitoring/grafana/dashboards/phoenix-v3-ultra-overview.json
  backup-20250523-115143/configs/monitoring/grafana/dashboards_provider.yaml
  backup-20250523-115143/configs/monitoring/grafana/grafana-datasource.yaml
  backup-20250523-115143/configs/monitoring/prometheus/prometheus.yaml
  backup-20250523-115143/configs/monitoring/prometheus/rules/phoenix_rules.yml
  backup-20250523-115143/configs/otel/collectors/main.yaml
  backup-20250523-115143/configs/otel/collectors/observer.yaml
  backup-20250523-115143/docker-compose.yaml
  backup-20250523-115143/scripts/initialize-environment.sh
  backup-20250523-115143/scripts/phoenix-metric-generator.sh
Owners: @deepaucksharma

Comprehensively update all documentation to match production-ready implementation
  CLAUDE.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/PIPELINE_ANALYSIS.md
  docs/TROUBLESHOOTING.md
Owners: @docs-team

Add health check script and update docs
  docs/MIGRATION_GUIDE.md
  tools/scripts/health-check.js
Owners: @docs-team, @deepaucksharma

Ignore backup directory
  .gitignore
Owners: @deepaucksharma

fix: ensure newline at EOF and remove stray prompt
  CHANGES-SUMMARY.md
  CLAUDE.md
  CORE_REQUIREMENTS.md
  EXECUTIVE_SUMMARY.md
  FUNCTIONAL_IMPROVEMENTS.md
  README-ENHANCED.md
  README.md
  deploy-aws.sh
  deploy-azure.sh
  docs/API.md
  docs/ARCHITECTURAL_REVIEW_RESPONSE.md
  docs/ARCHITECTURE.md
  docs/CLOUD_DEPLOYMENT.md
  docs/IDEAL_VS_CURRENT.md
  docs/INDEX.md
  docs/MIGRATION_GUIDE.md
  docs/MISSING_FEATURES.md
  docs/MONOREPO_STRUCTURE.md
  docs/PIPELINE_ANALYSIS.md
  docs/RETROSPECTIVE.md
  docs/TROUBLESHOOTING.md
  run-phoenix.sh
  scripts/newrelic-integration.sh
  services/control-plane/actuator/src/control-loop-enhanced.sh
  services/control-plane/actuator/src/update-control-file.sh
  services/generators/complex/src/phoenix-metric-generator.sh
  tests/integration/test_core_functionality.sh
  tools/scripts/initialize-environment.sh
  tools/scripts/migrate-to-monorepo.sh
  tools/scripts/phoenix-metric-generator.sh
  tools/scripts/project-summary.sh
  tools/scripts/show-docs.sh
  tools/scripts/test-deployment.sh
Owners: @docs-team, @deepaucksharma

Implement profile logic in enhanced control loop
  README-ENHANCED.md
  README.md
  services/control-plane/actuator/src/control-loop-enhanced.sh
Owners: @docs-team, @deepaucksharma

Add tests and CI for Go and Node
  .github/workflows/ci.yml
  apps/anomaly-detector/main_test.go
  apps/control-actuator-go/main_test.go
  jest.config.js
  package.json
  packages/contracts/__tests__/schema.test.js
  packages/contracts/package.json
Owners: @devops-team, @deepaucksharma

Add real monitoring assets and update checksums
  CHECKSUMS.txt
  tools/scripts/initialize-environment.sh
Owners: @deepaucksharma

Remove runbooks folder - content integrated into main documentation
  runbooks/README.md
  runbooks/incident-response/collector-oom.md
  runbooks/incident-response/high-cardinality-explosion.md
  runbooks/operational-procedures/metric-standards.md
  runbooks/troubleshooting/common-issues.md
Owners: @docs-team

Consolidate YAML/YML configurations per monorepo structure
  CHECKSUMS.txt
  CLAUDE.md
  Makefile
  apps/anomaly-detector/Dockerfile
  apps/control-actuator-go/Dockerfile
  configs/README.md
  configs/monitoring/prometheus/prometheus.yaml
  configs/otel/collectors/main-prod.yaml
  configs/otel/collectors/main.yaml
  configs/otel/collectors/observer.yaml
  configs/production/tls/generate_certs.sh
  configs/templates/control/optimization_mode.yaml
  docker-compose.yaml
  docs/CONSOLIDATION_SUMMARY.md
  docs/IMPLEMENTATION_FIXES_APPLIED.md
  docs/README.md
  docs/archive/reports-2025-05-24/CLEANUP_SUMMARY.md
  docs/archive/reports-2025-05-24/COMPLETE_SOLUTION_REVIEW.md
  docs/archive/reports-2025-05-24/FIXES_APPLIED.md
  docs/archive/reports-2025-05-24/MANUAL_TEST_RESULTS.md
  docs/archive/reports-2025-05-24/MANUAL_TEST_SESSION.md
  docs/archive/reports-2025-05-24/MONOREPO_MODULARITY_REVIEW.md
  infrastructure/docker/compose/docker-compose.yaml
  scripts/consolidated/configs/control/optimization_mode.yaml
  scripts/consolidated/configs/control/optimization_mode_template.yaml
  scripts/consolidated/configs/monitoring/grafana/dashboards/phoenix-v3-ultra-overview.json
  scripts/consolidated/configs/monitoring/prometheus/rules/phoenix_rules.yml
  services/collector/configs/main.yaml
  services/control-plane/observer/config/observer-enhanced.yaml
  services/control-plane/observer/config/observer.yaml
  tools/configs/control/optimization_mode_template.yaml
Owners: @deepaucksharma, @docs-team

Update CLAUDE.md and sync Go dependencies
  .env
  CLAUDE.md
  apps/anomaly-detector/go.mod
  apps/anomaly-detector/go.sum
  apps/control-actuator-go/go.mod
  apps/control-actuator-go/go.sum
Owners: @deepaucksharma, @docs-team

Clean up documentation and fix remaining configuration issues
  Makefile
  configs/otel/exporters/newrelic-enhanced.yaml
  configs/otel/processors/common_intake_processors.yaml
  docs/archive/CLEANUP_ANALYSIS.md
  docs/archive/CLEANUP_PLAN.md
  docs/archive/COMPREHENSIVE_CHANGE_REVIEW.md
  docs/archive/FINAL_VALIDATION_REPORT.md
  docs/archive/IMPLEMENTATION_GAPS.md
  docs/archive/MANUAL_TESTING_COMPLETE.md
  docs/archive/MANUAL_VERIFICATION_CHECKLIST.md
  docs/archive/METRIC_NAMING_FIX_SUMMARY.md
  docs/archive/REFACTORING_EXAMPLE.md
  docs/archive/SCRIPTS_CONSOLIDATED.md
  docs/archive/SCRIPT_FIXES_APPLIED.md
  docs/archive/SCRIPT_VERIFICATION_REPORT.md
  docs/archive/TESTING_TRACKER.md
  docs/archive/reports-2025-05-24/CLEANUP_SUMMARY.md
  docs/archive/reports-2025-05-24/COMPLETE_SOLUTION_REVIEW.md
  docs/archive/reports-2025-05-24/FIXES_APPLIED.md
  docs/archive/reports-2025-05-24/MANUAL_TEST_RESULTS.md
  docs/archive/reports-2025-05-24/MANUAL_TEST_SESSION.md
  docs/archive/reports-2025-05-24/MONOREPO_MODULARITY_REVIEW.md
  infrastructure/helm/phoenix/Chart.yaml
  infrastructure/helm/phoenix/values.yaml
Owners: @deepaucksharma, @docs-team

Address implementation gaps identified in review
  CLAUDE.md
  Makefile
  configs/README.md
  configs/monitoring/prometheus/rules/archive/phoenix_advanced_rules.yml
  configs/monitoring/prometheus/rules/archive/phoenix_core_rules.yml
  configs/monitoring/prometheus/rules/archive/phoenix_documented_metrics.yml
  configs/monitoring/prometheus/rules/archive/phoenix_rules.yml
  configs/monitoring/prometheus/rules/phoenix_rules_consolidated.yml
  deploy-azure.sh
  docs/IMPLEMENTATION_FIXES_APPLIED.md
Owners: @docs-team, @deepaucksharma

Remove legacy Docker infrastructure and service directories
  docs/DOCKER_CLEANUP.md
  infrastructure/docker/compose/base.yaml
  infrastructure/docker/compose/dev.yaml
  infrastructure/docker/compose/docker-compose.modular.yaml
  infrastructure/docker/compose/docker-compose.yaml
  services/collector/Dockerfile
  services/collector/package.json
  services/control-plane/actuator/Dockerfile
  services/control-plane/actuator/package.json
  services/control-plane/actuator/src/control-loop-enhanced.sh
  services/control-plane/actuator/src/update-control-file.sh
  services/control-plane/observer/Dockerfile
  services/control-plane/observer/package.json
  services/generators/complex/Dockerfile
  services/generators/complex/src/phoenix-metric-generator.sh
Owners: @docs-team, @deepaucksharma

Fix docs and scripts
  .env
  .env.template
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/CONSOLIDATION_SUMMARY.md
  docs/DEVELOPMENT.md
  docs/GUIDE.md
  docs/INDEX.md
  docs/OPERATIONS.md
  docs/README.md
  package.json
  packages/contracts/openapi/control-api.yaml
  run-phoenix.sh
  scripts/consolidated/core/run-phoenix.sh
  scripts/consolidated/deployment/test-deployment.sh
  tools/scripts/health-check.js
Owners: @deepaucksharma, @docs-team

docs: remove stale archive references
  docs/CONSOLIDATION_SUMMARY.md
  docs/README.md
Owners: @docs-team

docs: add missing documentation stubs
  docs/DEVELOPMENT.md
  docs/GUIDE.md
  docs/INDEX.md
  docs/OPERATIONS.md
Owners: @docs-team

Standardize Grafana admin variables
  .env
  .env.template
  Makefile
  README.md
  scripts/consolidated/core/initialize-environment.sh
Owners: @deepaucksharma, @docs-team

Update control API spec to match Go actuator
  packages/contracts/openapi/control-api.yaml
Owners: @deepaucksharma

Remove validator service references
  run-phoenix.sh
  scripts/consolidated/core/run-phoenix.sh
  scripts/consolidated/deployment/test-deployment.sh
Owners: @deepaucksharma

Update README deployment paths and remove helm check
  README.md
  scripts/consolidated/monitoring/validate-system.sh
Owners: @docs-team, @deepaucksharma
