Repository deepaucksharma/Phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepaucksharma, @core-team, @processor-team, @extension-team, @connector-team, @control-team, @test-team, @devops-team, @docs-team, @project-team, @admin-team

test: stabilize unit tests and add pic connector coverage
  internal/connector/pic_connector/exporter_test.go
  internal/processor/process_context_learner/processor.go
  pkg/util/hll/hyperloglog.go
  test/processors/cardinality_guardian/processor_test.go
  test/processors/templates/processor_test_template.go
  test/unit/causality/causality_test.go
  test/unit/hll/hyperloglog_test.go
  test/unit/pid/controller_test.go
  test/unit/policy/policy_test.go
  test/unit/timeseries/timeseries_test.go
  test/unit/topk/space_saving_test.go
Owners: @connector-team, @processor-team, @core-team, @test-team

test: verify pic control extension patching
  test/extensions/pic_control_ext/extension_test.go
Owners: @test-team

test: fix processor template id
  test/processors/multi_temporal_adaptive_engine/processor_test.go
  test/processors/semantic_correlator/processor_test.go
  test/processors/templates/processor_test_template.go
Owners: @test-team

test: clarify reservoir sampler coverage
  test/processors/process_context_learner/processor_test.go
  test/processors/reservoir_sampler/processor_test.go
Owners: @test-team

Fix build and test issues
  .golangci.yml
  go.mod
  test/processors/process_context_learner/processor_test.go
Owners: @deepaucksharma, @test-team

chore(docs): replace README symlink with file
  README.md
  docs/index.md
  readme.md
Owners: @docs-team

chore: align Go version to 1.22
  .devcontainer/Dockerfile
  .golangci.yml
  CLAUDE.md
  agents/AGENTS.md
  agents/CONSOLIDATED_AGENTS.md
Owners: @deepaucksharma, @docs-team, @admin-team

chore(docs): update ADR path
  agents/architect.yaml
  docs/adr
  docs/architecture/adr/README.md
  scripts/dev/new-adr.sh
  scripts/dev/validate-adr.sh
Owners: @admin-team, @docs-team, @devops-team

docs: update ADR-001 with status and implementation notes
  docs/adr
  docs/architecture/adr/001-dual-pipeline-architecture.md
Owners: @docs-team

docs: update ADR readme
  docs/architecture/adr/README.md
Owners: @docs-team

feat(pic_control_ext): discover processors from host
  internal/extension/pic_control_ext/extension.go
Owners: @extension-team

feat(adaptive_pid): support more config patches
  internal/processor/adaptive_pid/processor.go
  test/processors/adaptive_pid/processor_test.go
Owners: @processor-team, @test-team

test: reenable pic control extension
  test/extensions/pic_control_ext/extension_test.go
Owners: @test-team

test: add reservoir sampler processor tests
  test/processors/reservoir_sampler/processor_test.go
Owners: @test-team

feat(test-env): add example Docker Compose setups
  docs/testing/validation-framework.md
  test-environments/bare/config.yaml
  test-environments/bare/docker-compose.yaml
  test-environments/bare/policy.yaml
  test-environments/full/config.yaml
  test-environments/full/docker-compose.yaml
  test-environments/full/policy.yaml
  test-environments/prometheus/config.yaml
  test-environments/prometheus/docker-compose.yaml
  test-environments/prometheus/policy.yaml
  test/README.md
Owners: @docs-team, @deepaucksharma

docs: clean prompt artifacts
  agents/AGENTS.md
  agents/README.md
  docs/README.md
  docs/architecture/README.md
  readme.md
Owners: @admin-team, @docs-team

feat(safety): measure actual CPU usage
  internal/control/safety/monitor.go
  internal/control/safety/monitor_test.go
Owners: @control-team

feat(pid): validate gains in constructor
  docs/components/pid/pid_integral_controls.md
  docs/pr-management/pr-fixes-summary.md
  internal/control/pid/controller.go
  internal/processor/adaptive_pid/processor.go
  internal/processor/reservoir_sampler/processor.go
  test/benchmarks/component/pid_controller_benchmark_test.go
  test/testutils/pid_helper.go
  test/unit/pid/controller_test.go
Owners: @docs-team, @control-team, @processor-team, @test-team

fix(audit): use repo-relative paths
  audit/audit-workflow.md
  audit/initialize-audit.sh
Owners: @docs-team, @deepaucksharma

test: add internal pic control extension tests
  internal/extension/pic_control_ext/export_test.go
  internal/extension/pic_control_ext/extension_test.go
  test/extensions/pic_control_ext/extension_test.go
Owners: @extension-team, @test-team

feat(pid): return errors for invalid config
  docs/components/pid/pid_integral_controls.md
  docs/pr-management/pr-fixes-summary.md
  internal/control/pid/controller.go
  test/unit/pid/controller_test.go
Owners: @docs-team, @control-team, @test-team

test: add adaptive topk processor tests
  test/processors/adaptive_topk/config_test.go
  test/processors/adaptive_topk/interface_test.go
  test/processors/adaptive_topk/performance_test.go
  test/processors/adaptive_topk/processor_test.go
  test/processors/cardinality_guardian/processor_test.go
  test/processors/process_context_learner/processor_test.go
  test/unit/causality/causality_test.go
  test/unit/hll/hyperloglog_test.go
  test/unit/pid/controller_test.go
  test/unit/policy/policy_test.go
  test/unit/timeseries/timeseries_test.go
  test/unit/topk/space_saving_test.go
Owners: @test-team

Replace README.md symlink with actual content
  readme.md
Owners: @docs-team

Replace README.md symlink with actual content
  README.md
Owners: @docs-team

Add PROJECT_README.md with project overview
  PROJECT_README.md
Owners: @docs-team

Replace readme symlink with actual content
  README.md
  readme.md
Owners: @docs-team

docs: add pic connector and control extension READMEs
  docs/components/connectors/README.md
  docs/components/connectors/pic_connector.md
  docs/components/extensions/README.md
  docs/components/extensions/pic_control_ext.md
  internal/connector/pic_connector/README.md
  internal/extension/pic_control_ext/README.md
Owners: @docs-team

Add component review findings documents
  tasks/reviews/PIC-CONTROL-EXTENSION-FINDINGS.md
  tasks/reviews/PID-CONTROLLER-FINDINGS.md
  tasks/reviews/UPDATEABLE-PROCESSOR-FINDINGS.md
Owners: @project-team

Add PR merge summary documentation
  docs/pr-management/pr-merge-summary.md
Owners: @docs-team

Fix merge conflict in pic_control_ext test
  test/extensions/pic_control_ext/extension_test.go
Owners: @test-team

Integrate GitHub Actions workflows and offline build improvements
  .github/workflows/agent-role.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cross-platform-tests.yml
  .github/workflows/main.yml
  .github/workflows/pr-title-validator.yml
Owners: @devops-team

Fix shebang in offline build script
  setup_offline_build.sh
Owners: @deepaucksharma

add
  docs/architecture/dual-pipeline-architecture.md
  docs/fixes/updateable-processor-type-conversion.md
  docs/implementation-recommendations.md
  docs/testing-recommendations.md
  internal/control/pid/controller.go
  internal/processor/adaptive_pid/processor.go
  internal/processor/adaptive_topk/processor.go
  pkg/metrics/pid_metrics.go
  pkg/util/typeconv/typeconv.go
Owners: @docs-team, @control-team, @processor-team, @core-team

add
  docs/improvement-summary.md
Owners: @docs-team

test(pic_control_ext): add comprehensive extension test
  test/extensions/pic_control_ext/extension_test.go
Owners: @test-team

test: add StandardValidator tests
  test/control/configpatch/validator_test.go
Owners: @test-team

test(pic_control_ext): add OpAMP integration test
  test/extensions/pic_control_ext/extension_test.go
Owners: @test-team

test(e2e): add scenario placeholders and update tooling
  .github/workflows/test.yml
  Makefile
  test/e2e/benchmarks/chaos_cpu_test.go
  test/e2e/benchmarks/priority_tagger_benchmark_test.go
  test/e2e/integration/boot_01_test.go
  test/e2e/integration/control_loop_test.go
  test/e2e/integration/pipe_03_test.go
Owners: @devops-team, @deepaucksharma, @test-team

ci: add scenario checklist generator
  .github/workflows/ci.yml
  docs/testing/master_scenario_table.md
  docs/testing/validation-framework.md
  scripts/ci/generate_scenario_checklist.sh
Owners: @devops-team, @docs-team, @deepaucksharma

chore(tests): consolidate e2e test location
  Makefile
  agents/tester.yaml
  test/Makefile
  test/e2e/README.md
  test/e2e/integration/control_loop_test.go
  test/e2e_tests/control_loop_test.go
Owners: @deepaucksharma, @admin-team, @test-team, @docs-team

.github/CODEOWNERS:

# Phoenix CODEOWNERS File

# Default owners for everything
*                   @deepaucksharma

# Core components
/cmd/                @core-team
/internal/           @core-team
/pkg/                @core-team

# Specific component ownership
/internal/processor/  @processor-team
/internal/extension/  @extension-team
/internal/connector/  @connector-team
/internal/control/    @control-team

# Test ownership
/test/               @test-team

# Infrastructure
/.github/            @devops-team
/deploy/             @devops-team
/scripts/dev/        @devops-team

# Documentation
/docs/               @docs-team
*.md                 @docs-team

# Task definitions
/tasks/              @project-team

# Agent definitions
/agents/             @admin-team
/AGENTS.md           @admin-team
