Repository deepaucksharma/Phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepaucksharma, @core-team, @processor-team, @extension-team, @connector-team, @control-team, @test-team, @devops-team, @docs-team, @project-team, @admin-team

Add timeseries estimator and CPU histogram converter tests
  internal/processor/cpu_histogram_converter/config.go
  internal/processor/cpu_histogram_converter/factory.go
  internal/processor/cpu_histogram_converter/processor.go
  internal/processor/timeseries_estimator/config.go
  internal/processor/timeseries_estimator/factory.go
  internal/processor/timeseries_estimator/processor.go
  test/processors/cpu_histogram_converter/processor_test.go
  test/processors/timeseries_estimator/processor_test.go
Owners: @processor-team, @test-team

test(e2e): add New Relic pipeline integration test
  test/e2e/integration/newrelic_pipeline_test.go
  test/testutils/metrics_sink.go
Owners: @test-team

docs: update for metric_pipeline and clarify components
  docs/architecture/README.md
  docs/components/README.md
  docs/components/extensions/README.md
  docs/components/processors/README.md
  docs/components/processors/adaptive_pid.md
  docs/integrations/new-relic-otlp-export.md
Owners: @docs-team

Add timeseries estimator processor with HLL fallback
  configs/process_metrics/config.yaml
  configs/process_metrics/policy.yaml
  docs/components/processors/README.md
  docs/components/processors/timeseries_estimator.md
  internal/processor/timeseries_estimator/config.go
  internal/processor/timeseries_estimator/factory.go
  internal/processor/timeseries_estimator/processor.go
  pkg/policy/schema.go
  test/processors/timeseries_estimator/processor_test.go
Owners: @deepaucksharma, @docs-team, @processor-team, @core-team, @test-team

Add timeseries_estimator and cpu_histogram_converter processors
  cmd/sa-omf-otelcol/main.go
  configs/process_metrics/examples/processors_config.yaml
  docs/components/processors/implementation_summary.md
  docs/operations/process_metrics_playbook.md
  docs/operations/processor_monitoring_guide.md
  internal/processor/cpu_histogram_converter/README.md
  internal/processor/cpu_histogram_converter/config.go
  internal/processor/cpu_histogram_converter/factory.go
  internal/processor/cpu_histogram_converter/processor.go
  internal/processor/timeseries_estimator/README.md
  internal/processor/timeseries_estimator/config.go
  internal/processor/timeseries_estimator/factory.go
  internal/processor/timeseries_estimator/processor.go
  scripts/test/verify_new_processors.sh
  test/benchmarks/processors/cpu_histogram_converter_benchmark_test.go
  test/benchmarks/processors/timeseries_estimator_benchmark_test.go
  test/processors/cpu_histogram_converter/processor_test.go
  test/processors/timeseries_estimator/processor_test.go
Owners: @core-team, @deepaucksharma, @docs-team, @processor-team, @test-team

Add enhanced timeseries_estimator and cpu_histogram_converter processors
  cmd/sa-omf-otelcol/main.go
  configs/process_metrics/examples/processors_config.yaml
  docs/components/processors/implementation_summary.md
  docs/operations/process_metrics_playbook.md
  docs/operations/processor_monitoring_guide.md
  internal/processor/cpu_histogram_converter/README.md
  internal/processor/cpu_histogram_converter/config.go
  internal/processor/cpu_histogram_converter/factory.go
  internal/processor/cpu_histogram_converter/processor.go
  internal/processor/timeseries_estimator/README.md
  internal/processor/timeseries_estimator/config.go
  internal/processor/timeseries_estimator/factory.go
  internal/processor/timeseries_estimator/processor.go
  scripts/test/verify_new_processors.sh
  test/benchmarks/processors/cpu_histogram_converter_benchmark_test.go
  test/benchmarks/processors/timeseries_estimator_benchmark_test.go
  test/processors/cpu_histogram_converter/processor_test.go
  test/processors/timeseries_estimator/processor_test.go
Owners: @core-team, @deepaucksharma, @docs-team, @processor-team, @test-team

refactor: unify resource filtering policy
  configs/development/policy.yaml
  configs/examples/policy.yaml
  configs/production/policy.yaml
  configs/testing/policy.yaml
Owners: @deepaucksharma

Update component registration
  cmd/sa-omf-otelcol/main.go
Owners: @core-team

docs: update architecture and remove old processor refs
  docs/architecture/README.md
  docs/components/README.md
  docs/components/extensions/README.md
  docs/components/processor/metric_pipeline.md
  docs/components/processors/adaptive_pid.md
  docs/integrations/new-relic-otlp-export.md
Owners: @docs-team

Simplify configs for hostmetrics process scraping
  configs/default/config.yaml
  configs/default/simplified_config.yaml
  configs/development/config.yaml
  configs/examples/config.yaml
  configs/process_metrics/config.yaml
  configs/process_metrics/examples/processors_config.yaml
  configs/production/config.yaml
  configs/testing/config.yaml
Owners: @deepaucksharma

feat(receiver): add process scraper
  configs/default/config.yaml
  configs/default/simplified_config.yaml
  configs/development/config.yaml
  configs/examples/config.yaml
  configs/process_metrics/config.yaml
  configs/process_metrics/examples/processors_config.yaml
  configs/production/config.yaml
  configs/testing/config.yaml
  internal/receiver/processscraper/scraper.go
  test/processors/metric_pipeline/processor_test.go
Owners: @deepaucksharma, @core-team, @test-team

Add cumulative to delta processor
  configs/process_metrics/config.yaml
  configs/process_metrics/examples/processors_config.yaml
  test/otlp/delta_temporality_test.go
Owners: @deepaucksharma, @test-team

Add CPU time histogram aggregation
  internal/processor/metric_pipeline/factory.go
  internal/processor/metric_pipeline/processor.go
  test/processors/metric_pipeline/processor_test.go
Owners: @processor-team, @test-team

chore: cleanup resource filter package and add tests
  internal/processor/resource_filter/types.go
  test/processors/resource_filter/config_test.go
Owners: @processor-team, @test-team

Add attr_filter processor and tests
  cmd/sa-omf-otelcol/main.go
  configs/default/simplified_config.yaml
  configs/process_metrics/config.yaml
  internal/processor/attr_filter/config.go
  internal/processor/attr_filter/factory.go
  test/processors/attr_filter/processor_test.go
Owners: @core-team, @deepaucksharma, @processor-team, @test-team

Delete go.sum
  go.sum
Owners: @deepaucksharma

test: align package names in benchmarks
  test/benchmarks/component/pid_controller_benchmark_test.go
  test/processors/metric_pipeline/self_metrics_test.go
Owners: @test-team

chore: set go version
  go.mod
Owners: @deepaucksharma

Update metrics emitter initialization
  internal/extension/pic_control_ext/extension.go
  internal/processor/base/updateable_processor.go
  pkg/metrics/unified_metrics.go
  test/unit/metrics/selfmetrics_test.go
Owners: @extension-team, @processor-team, @core-team, @test-team

Update policy schema for metric_pipeline
  pkg/policy/schema.go
Owners: @core-team

Remove pic_control extension and connector
  CLAUDE.md
  configs/default/config.yaml
  configs/default/simplified_config.yaml
  configs/development/config.yaml
  configs/examples/config.yaml
  configs/examples/policy.yaml
  configs/process_metrics/config.yaml
  configs/process_metrics/examples/processors_config.yaml
  configs/production/config.yaml
  configs/testing/config.yaml
  docs/architecture/README.md
  docs/components/README.md
  docs/components/extensions/README.md
  docs/components/processor/metric_pipeline.md
  docs/testing/implementation-summary.md
  docs/testing/test-scenarios.md
  docs/testing/validation-framework.md
  internal/connector/pic_connector/factory.go
  internal/extension/pic_control_ext/config.go
  internal/extension/pic_control_ext/extension.go
  internal/extension/pic_control_ext/factory.go
  internal/interfaces/updateable_processor.go
  internal/processor/adaptive_pid/factory.go
  internal/processor/adaptive_pid/processor.go
  pkg/policy/schema.go
  test/e2e/distributed/coordinator_test.go
  test/e2e/integration/control_loop_test.go
  test/e2e/pid/output_parameter_bounds_test.go
  test/e2e/pipelines/dual_pipeline_interaction_test.go
  test/e2e/pipelines/missing_self_metrics_test.go
  test/e2e/policy/invalid_parameter_type_test.go
  test/e2e/policy/non_updateable_target_test.go
  test/e2e/policy/rate_limit_test.go
  test/e2e/safety/override_thresholds_test.go
  test/extensions/pic_control_ext/extension_test.go
  test/unit/adaptive_pid_patch_test.go
Owners: @docs-team, @deepaucksharma, @connector-team, @extension-team, @core-team, @processor-team, @test-team

Initial commit with minimal CLAUDE.md
  CLAUDE.md
Owners: @docs-team

Initial setup of Phoenix-vNext observability lab
  Phoenix-vNext/.gitignore
  Phoenix-vNext/CLAUDE.md
  Phoenix-vNext/README.md
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/configs/grafana-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/grafana-datasource.yaml
  Phoenix-vNext/phoenix-bench/configs/otelcol-main.yaml
  Phoenix-vNext/phoenix-bench/configs/otelcol-observer.yaml
  Phoenix-vNext/phoenix-bench/configs/prometheus.yaml
  Phoenix-vNext/phoenix-bench/docker-compose.yaml
Owners: @deepaucksharma, @docs-team

Add optimization-focused Grafana dashboard
  Phoenix-vNext/phoenix-bench/configs/grafana-dashboard.json
Owners: @deepaucksharma

Implement five pipeline OpenTelemetry benchmarking stack
  Phoenix-vNext/phoenix-bench/.env.template
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode_template.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_process_profile.yaml
  Phoenix-vNext/phoenix-bench/configs/grafana-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/grafana-dashboards.yaml
  Phoenix-vNext/phoenix-bench/configs/grafana-datasource.yaml
  Phoenix-vNext/phoenix-bench/configs/otelcol-main.yaml
  Phoenix-vNext/phoenix-bench/configs/otelcol-minimal.yaml
  Phoenix-vNext/phoenix-bench/configs/otelcol-observer.yaml
  Phoenix-vNext/phoenix-bench/configs/phoenix-master-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/prometheus.yaml
  Phoenix-vNext/phoenix-bench/configs/synthetic-metrics.yaml
  Phoenix-vNext/phoenix-bench/docker-compose.yaml
  Phoenix-vNext/phoenix-bench/synthetic-metrics.sh
Owners: @deepaucksharma

Implement comprehensive pipeline improvements to Phoenix-vNext
  Phoenix-vNext/phoenix-bench/.env.template
  Phoenix-vNext/phoenix-bench/configs/consolidated-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode_template.yaml
  Phoenix-vNext/phoenix-bench/configs/dashboard-updates.json
  Phoenix-vNext/phoenix-bench/configs/enhanced-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/otelcol-main.yaml
  Phoenix-vNext/phoenix-bench/configs/otelcol-observer.yaml
  Phoenix-vNext/phoenix-bench/configs/synthetic-metrics.yaml
  Phoenix-vNext/phoenix-bench/configs/unified-dashboard.json
  Phoenix-vNext/phoenix-bench/docker-compose.yaml
  Phoenix-vNext/phoenix-bench/synthetic-metrics.sh
Owners: @deepaucksharma

Fix OpenTelemetry collector configurations for proper functionality
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-main.yaml.fixed
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer.yaml.fixed
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/configs/metrics/synthetic-metrics.yaml.fixed
Owners: @deepaucksharma

Add fixed Grafana dashboard for proper Phoenix metrics visualization
  Phoenix-vNext/phoenix-bench/configs/dashboards/fixed-dashboard.json
Owners: @deepaucksharma

Fix Grafana dashboard to correctly display Phoenix metrics
  Phoenix-vNext/phoenix-bench/configs/dashboards/fixed-main-dashboard.json
Owners: @deepaucksharma

Complete Phoenix-vNext 5-pipeline implementation and config consolidation
  .DS_Store
  CLAUDE.md
  Phoenix-vNext/CLAUDE.md
  Phoenix-vNext/README.md
  Phoenix-vNext/phoenix-bench/README.md
  Phoenix-vNext/phoenix-bench/check-coherence.sh
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-main.yaml
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-main.yaml.fixed
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-minimal.yaml
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer.yaml
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer.yaml.fixed
  Phoenix-vNext/phoenix-bench/configs/consolidated-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode_template.yaml
  Phoenix-vNext/phoenix-bench/configs/dashboard-updates.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/fixed-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/fixed-main-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/phoenix-5pipeline-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/phoenix-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/enhanced-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/grafana-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/metrics/synthetic-metrics.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/grafana-dashboards.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/grafana-datasource.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/prometheus.yaml
  Phoenix-vNext/phoenix-bench/configs/otelcol-main.yaml
  Phoenix-vNext/phoenix-bench/configs/otelcol-observer.yaml
  Phoenix-vNext/phoenix-bench/configs/phoenix-master-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/prometheus.yaml
  Phoenix-vNext/phoenix-bench/configs/synthetic-metrics.yaml
  Phoenix-vNext/phoenix-bench/configs/unified-dashboard.json
  Phoenix-vNext/phoenix-bench/docker-compose.yaml
  Phoenix-vNext/phoenix-bench/initialize-environment.sh
  Phoenix-vNext/phoenix-bench/monitor-pipelines.sh
  Phoenix-vNext/phoenix-bench/synthetic-metrics.sh
  Phoenix-vNext/phoenix-bench/synthetic-metrics.sh/direct-metrics-generator.sh
Owners: @deepaucksharma, @docs-team

push
  Phoenix-vNext/README.md
  Phoenix-vNext/phoenix-bench/README.md
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer-new.yaml
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode_clean.yaml
  Phoenix-vNext/phoenix-bench/configs/dashboards/dashboards_provider.yaml
  Phoenix-vNext/phoenix-bench/configs/metrics/synthetic-metrics.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/grafana-dashboards-new.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/prometheus-new.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/prometheus.yaml
  Phoenix-vNext/phoenix-bench/docker-compose.yaml
  Phoenix-vNext/phoenix-bench/initialize-environment-new.sh
  Phoenix-vNext/phoenix-bench/initialize-environment.sh
  Phoenix-vNext/phoenix-bench/monitor-pipelines.sh
  Phoenix-vNext/phoenix-bench/override-control-mode.sh
  Phoenix-vNext/phoenix-bench/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/update-control-file.sh
Owners: @docs-team, @deepaucksharma

in
  Phoenix-vNext/phoenix-bench/CLAUDE.md
  Phoenix-vNext/phoenix-bench/README.md
  Phoenix-vNext/phoenix-bench/check-coherence.sh
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-main.yaml
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-minimal.yaml
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer-new.yaml
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer.yaml.backup
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode_clean.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode_template.yaml
  Phoenix-vNext/phoenix-bench/configs/metrics/synthetic-metrics.yaml
  Phoenix-vNext/phoenix-bench/configs/metrics/synthetic-metrics.yaml.backup
  Phoenix-vNext/phoenix-bench/configs/monitoring/grafana-dashboards-new.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/prometheus-new.yaml
  Phoenix-vNext/phoenix-bench/configs/processors/multi_level_rollup.yaml
  Phoenix-vNext/phoenix-bench/docker-compose.yaml
  Phoenix-vNext/phoenix-bench/docs/CONTROL_SIGNAL_DESIGN.md
  Phoenix-vNext/phoenix-bench/initialize-environment-new.sh
  Phoenix-vNext/phoenix-bench/initialize-environment.sh
  Phoenix-vNext/phoenix-bench/monitor-pipelines.sh
  Phoenix-vNext/phoenix-bench/override-control-mode.sh
  Phoenix-vNext/phoenix-bench/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/test-phoenix-system.sh
  Phoenix-vNext/phoenix-bench/update-control-file.sh
Owners: @docs-team, @deepaucksharma

in
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-main.yaml
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-main.yaml.backup
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer.yaml
  Phoenix-vNext/phoenix-bench/configs/metrics/synthetic-metrics.yaml
Owners: @deepaucksharma

in
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer.yaml
Owners: @deepaucksharma

Complete Phoenix-vNext 5-Pipeline Cardinality Optimization System
  Phoenix-vNext/phoenix-bench/.env.backup
  Phoenix-vNext/phoenix-bench/CLAUDE.md
  Phoenix-vNext/phoenix-bench/DEPLOYMENT_GUIDE.md
  Phoenix-vNext/phoenix-bench/FINAL_RESULTS.md
  Phoenix-vNext/phoenix-bench/PROJECT_COMPLETION_SUMMARY.md
  Phoenix-vNext/phoenix-bench/README.md
  Phoenix-vNext/phoenix-bench/VERIFICATION_REPORT.md
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-main-backup.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode.yaml.backup
  Phoenix-vNext/phoenix-bench/configs/dashboards/backups/phoenix-5-pipeline-comparison_2025-05-22_10-36-17.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/backups/phoenix-5-pipeline-comparison_2025-05-22_10-38-29.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/backups/phoenix-5pipeline-dashboard_2025-05-22_10-36-17.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/backups/phoenix-5pipeline-dashboard_2025-05-22_10-38-29.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/backups/phoenix-dashboard_2025-05-22_10-36-17.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/backups/phoenix-dashboard_2025-05-22_10-38-29.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/backups/phoenix-unified-dashboard_2025-05-22_10-36-31.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/backups/phoenix-unified-dashboard_2025-05-22_10-38-29.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/dashboards_provider.yaml
  Phoenix-vNext/phoenix-bench/configs/dashboards/phoenix-5-pipeline-comparison.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/phoenix-unified-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/monitoring/grafana-dashboards.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/grafana-datasource.yaml
  Phoenix-vNext/phoenix-bench/docker-compose.yaml
  Phoenix-vNext/phoenix-bench/docs/CONTROL_SIGNAL_DESIGN.md
  Phoenix-vNext/phoenix-bench/enhance-dashboards.sh
  Phoenix-vNext/phoenix-bench/generate-high-cardinality-metrics.py
  Phoenix-vNext/phoenix-bench/phoenix-cardinality-observer.py
  Phoenix-vNext/phoenix-bench/phoenix-dashboard.json
  Phoenix-vNext/phoenix-bench/run-complete-demo.py
  Phoenix-vNext/phoenix-bench/setup-dashboards.sh
  Phoenix-vNext/phoenix-bench/unify-dashboards.sh
Owners: @deepaucksharma, @docs-team

add
  CLAUDE.md
  Phoenix-vNext/.gitignore
  Phoenix-vNext/phoenix-bench/.env.template
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-main.yaml
  Phoenix-vNext/phoenix-bench/configs/collectors/otelcol-observer.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_mode.yaml
  Phoenix-vNext/phoenix-bench/configs/control_signals/opt_process_profile.yaml
  Phoenix-vNext/phoenix-bench/configs/dashboards/dashboards_provider.yaml
  Phoenix-vNext/phoenix-bench/configs/dashboards/phoenix-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/phoenix-process-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/dashboards/phoenix-unified-dashboard.json
  Phoenix-vNext/phoenix-bench/configs/metrics/synthetic-metrics.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/grafana-dashboards.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/grafana-datasource.yaml
  Phoenix-vNext/phoenix-bench/configs/monitoring/prometheus.yaml
  Phoenix-vNext/phoenix-bench/configs/processors/multi_level_rollup.yaml
  Phoenix-vNext/phoenix-bench/docker-compose.yaml
  Phoenix-vNext/phoenix-bench/process-cardinality-analysis.json
  Phoenix-vNext/phoenix-bench/synthetic-metrics.sh/direct-metrics-generator.sh
Owners: @docs-team, @deepaucksharma

add
  .DS_Store
  .env
  .env.template
  CLAUDE.md
  README.md
  apps/control-actuator/Dockerfile.actuator
  apps/control-actuator/update-control-file.sh
  apps/synthetic-generator/Dockerfile
  apps/synthetic-generator/generator.go
  apps/synthetic-generator/go.mod
  configs/control/optimization_mode.yaml
  configs/control/optimization_mode_template.yaml
  configs/dashboards/phoenix-v3-ultra-overview.json
  configs/monitoring/grafana/dashboards/phoenix-v3-ultra-overview.json
  configs/monitoring/grafana/grafana-dashboards.yaml
  configs/monitoring/grafana/grafana-datasource.yaml
  configs/monitoring/prometheus/prometheus.yaml
  configs/monitoring/prometheus/rules/phoenix_rules.yml
  configs/monitoring/prometheus_rules/phoenix_rules.yml
  configs/otel/collectors/main.yaml
  configs/otel/collectors/observer.yaml
  configs/otel/processors/common_intake_processors.yaml
  docker-compose.yaml
  scripts/initialize-environment.sh
Owners: @deepaucksharma, @docs-team

Complete Phoenix-vNext reorganization with comprehensive monitoring dashboard suite
  CLAUDE.md
  configs/monitoring/grafana/dashboards/phoenix-adaptive-control-loop.json
  configs/monitoring/grafana/dashboards/phoenix-collector-ops.json
  configs/monitoring/grafana/dashboards/phoenix-mission-control.json
  configs/monitoring/grafana/dashboards/phoenix-pipeline-efficiency.json
  configs/monitoring/grafana/dashboards/phoenix-process-hotspots.json
  configs/monitoring/grafana/dashboards_provider.yaml
  configs/monitoring/prometheus/prometheus.yaml
  configs/monitoring/prometheus/rules/phoenix_rules.yml
  docker-compose.yaml
  docs/monitoring-setup.md
Owners: @docs-team, @deepaucksharma

feat: Add comprehensive documentation suite and enhance system functionality
  .env.template
  .gitignore
  apps/control-actuator/update-control-file.sh
  apps/synthetic-generator/generator.go
  apps/synthetic-generator/go.mod
  apps/synthetic-generator/go.sum
  configs/monitoring/prometheus_rules/phoenix_rules.yml
  configs/otel/collectors/main.yaml
  configs/otel/collectors/observer.yaml
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  scripts/initialize-environment.sh
Owners: @deepaucksharma, @docs-team

feat: Enhance collector pipelines with differentiated processing
  configs/otel/collectors/main.yaml
Owners: @deepaucksharma

.github/CODEOWNERS:

# Phoenix CODEOWNERS File

# Default owners for everything
*                   @deepaucksharma

# Core components
/cmd/                @core-team
/internal/           @core-team
/pkg/                @core-team

# Specific component ownership
/internal/processor/  @processor-team
/internal/extension/  @extension-team
/internal/connector/  @connector-team
/internal/control/    @control-team

# Test ownership
/test/               @test-team

# Infrastructure
/.github/            @devops-team
/deploy/             @devops-team
/scripts/dev/        @devops-team

# Documentation
/docs/               @docs-team
*.md                 @docs-team

# Task definitions
/tasks/              @project-team

# Agent definitions
/agents/             @admin-team
/AGENTS.md           @admin-team
