Repository deepaucksharma/Phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepaucksharma, @core-team, @processor-team, @extension-team, @connector-team, @control-team, @test-team, @devops-team, @docs-team, @project-team, @admin-team

.github/CODEOWNERS:

# Phoenix CODEOWNERS File

# Default owners for everything
*                   @deepaucksharma

# Core components
/cmd/                @core-team
/internal/           @core-team
/pkg/                @core-team

# Specific component ownership
/internal/processor/  @processor-team
/internal/extension/  @extension-team
/internal/connector/  @connector-team
/internal/control/    @control-team

# Test ownership
/test/               @test-team

# Infrastructure
/.github/            @devops-team
/deploy/             @devops-team
/scripts/dev/        @devops-team

# Documentation
/docs/               @docs-team
*.md                 @docs-team

# Task definitions
/tasks/              @project-team

# Agent definitions
/agents/             @admin-team
/AGENTS.md           @admin-team

Update to use Go 1.22 consistently across configurations
  .github/workflows/ci.yml
  deploy/docker/Dockerfile
  go.mod
Owners: @devops-team, @deepaucksharma

Add improved offline build setup script
  setup_offline_build.sh
Owners: @deepaucksharma

Update to use Go 1.22 consistently across configurations
  .github/workflows/ci.yml
  deploy/docker/Dockerfile
  go.mod
Owners: @devops-team, @deepaucksharma

Add improved offline build setup script
  setup_offline_build.sh
Owners: @deepaucksharma

Fix GitHub Actions workflows to use vendored modules and consistent Go version (1.21)
  .github/workflows/ci.yml
  .github/workflows/main.yml
  deploy/docker/Dockerfile
Owners: @devops-team

Remove pr-fixes-summary.md
  pr-fixes-summary.md
Owners: @docs-team

Update go.mod to use Go 1.21 for offline builds
  go.mod
Owners: @deepaucksharma

Remove Windows-based GitHub tasks and standardize Go version to 1.22
  .github/workflows/benchmarks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cross-platform-tests.yml
  .github/workflows/main.yml
Owners: @devops-team

Streamline GitHub Actions workflows
  .github/workflows/agent-role.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cross-platform-tests.yml
  .github/workflows/pr-title-validator.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security.yml
  docs/ci-cd.md
  readme.md
Owners: @devops-team, @docs-team

Consolidate all GitHub Actions into a single workflow
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security.yml
  .github/workflows/workflow.yml
  docs/ci-cd.md
  readme.md
Owners: @devops-team, @docs-team

test: add unit tests for policy and metrics
  test/unit/metrics/selfmetrics_test.go
  test/unit/policy/policy_test.go
Owners: @test-team

test: add others_rollup processor tests
  test/processors/others_rollup/processor_test.go
Owners: @test-team

Streamline project setup
  Makefile
  deploy/docker/Dockerfile.dev
  docker-compose.yml
  docs/OFFLINE_BUILD.md
  docs/development-guide.md
Owners: @deepaucksharma, @devops-team, @docs-team

test(cardinality_guardian): add processor tests
  test/processors/cardinality_guardian/processor_test.go
Owners: @test-team

test: expand chaos suite scenarios
  docs/testing/README.md
  test/chaos/chaos_suite.go
Owners: @docs-team, @test-team

Add consolidated agent documentation
  docs/agents/CONSOLIDATED_AGENTS.md
  docs/agents/README.md
Owners: @docs-team

Move agent documentation to root-level /agents directory
  agents/CONSOLIDATED_AGENTS.md
  docs/agents/README.md
Owners: @admin-team, @docs-team

ci: split workflows for better organization and clarity
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/scheduled-security-scan.yml
  .github/workflows/test.yml
  .github/workflows/workflow.yml
Owners: @docs-team, @devops-team

chore: clean up redundant agent documentation
  docs/agents/AGENTS.md
  docs/agents/AGENT_RAILS.md
  docs/agents/CONSOLIDATED_AGENTS.md
  docs/agents/architect.yaml
  docs/agents/dependabot.yaml
  docs/agents/devops.yaml
  docs/agents/doc-writer.yaml
  docs/agents/implementer.yaml
  docs/agents/integrator.yaml
  docs/agents/planner.yaml
  docs/agents/reviewer.yaml
  docs/agents/security-auditor.yaml
  docs/agents/tester.yaml
Owners: @docs-team

chore: update config files and add documentation
  .devcontainer/devcontainer.json
  .gitignore
  deploy/compose/docker-compose.yml
  docs/changelog.md
  docs/components/README.md
  docs/configuration-reference.md
  docs/contributing.md
  docs/index.md
  docs/offline-build.md
Owners: @deepaucksharma, @devops-team, @docs-team

docs: add comprehensive project setup review
  project-setup-review.md
Owners: @docs-team

test: add unit tests for policy and metrics (#38)
  test/unit/metrics/selfmetrics_test.go
  test/unit/policy/policy_test.go
Owners: @test-team

test: add others_rollup processor tests (#39)
  test/processors/others_rollup/processor_test.go
Owners: @test-team

test(cardinality_guardian): add processor tests (#40)
  test/processors/cardinality_guardian/processor_test.go
Owners: @test-team

test: expand chaos suite scenarios (#41)
  docs/testing/README.md
  test/chaos/chaos_suite.go
Owners: @docs-team, @test-team

fix: resolve TestSpaceSavingSkewedDistribution failure in topk package
  test/unit/topk/space_saving_test.go
Owners: @test-team

test: enable minimal control loop
  Makefile
  test/e2e_tests/control_loop_test.go
  test/extensions/pic_control_ext/extension_test.go
Owners: @deepaucksharma, @test-team

test(processors): add semantic correlator and MTAE tests
  test/processors/multi_temporal_adaptive_engine/processor_test.go
  test/processors/semantic_correlator/processor_test.go
Owners: @test-team

test: add reservoir sampler processor tests
  test/processors/process_context_learner/processor_test.go
  test/processors/reservoir_sampler/processor_test.go
Owners: @test-team

test: add processor validations
  test/processors/adaptive_topk/processor_test.go
  test/processors/multi_temporal_adaptive_engine/processor_test.go
  test/processors/reservoir_sampler/processor_test.go
  test/processors/semantic_correlator/processor_test.go
  test/processors/templates/processor_test_template.go
Owners: @test-team

test: add control_chain integration skeleton
  test/integration/control_chain/control_chain_test.go
Owners: @test-team

test: enable pic_control pipeline integration
  internal/connector/pic_connector/exporter.go
  internal/extension/pic_control_ext/extension.go
  test/extensions/pic_control_ext/extension_test.go
  test/unit/topk/space_saving_test.go
Owners: @connector-team, @extension-team, @test-team

test: add pic control extension tests
  test/extensions/pic_control_ext/extension_test.go
Owners: @test-team

test: add pic control extension tests
  test/extensions/pic_control_ext/extension_test.go
Owners: @test-team

test(pic_connector): add exporter tests
  internal/connector/pic_connector/exporter_test.go
Owners: @connector-team

Add comprehensive component review framework
  tasks/reviews/PIC-CONTROL-EXTENSION-REVIEW.md
  tasks/reviews/PID-CONTROLLER-REVIEW.md
  tasks/reviews/README.md
  tasks/reviews/REVIEW-GUIDELINES.md
  tasks/reviews/REVIEW-TEMPLATE.md
  tasks/reviews/UPDATEABLE-PROCESSOR-REVIEW.md
Owners: @project-team

test: fix failing processor tests
  test/processors/adaptive_topk/processor_test.go
  test/processors/cardinality_guardian/processor_test.go
  test/processors/multi_temporal_adaptive_engine/processor_test.go
  test/processors/process_context_learner/processor_test.go
  test/processors/reservoir_sampler/processor_test.go
  test/processors/semantic_correlator/processor_test.go
  test/processors/templates/processor_test_template.go
Owners: @test-team

test: verify control chain patch flow
  test/integration/control_chain/control_chain_test.go
Owners: @test-team

fix(pic_connector): parse processor id from metric
  internal/connector/pic_connector/exporter.go
  internal/extension/pic_control_ext/extension.go
  test/extensions/pic_control_ext/extension_test.go
  test/unit/topk/space_saving_test.go
Owners: @connector-team, @extension-team, @test-team

test: exercise control loop and extension
  Makefile
  test/e2e_tests/control_loop_test.go
  test/extensions/pic_control_ext/extension_test.go
Owners: @deepaucksharma, @test-team
