Repository deepaucksharma/Phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepaucksharma, @core-team, @processor-team, @extension-team, @connector-team, @control-team, @test-team, @devops-team, @docs-team, @project-team, @admin-team

test: enable control loop integration
  test/e2e/integration/control_loop_test.go
Owners: @test-team

test(processor): add unit tests for various processors
  test/processors/adaptive_topk/processor_test.go
  test/processors/cardinality_guardian/processor_test.go
  test/processors/others_rollup/processor_test.go
  test/processors/priority_tagger/processor_test.go
  test/processors/process_context_learner/processor_test.go
  test/processors/reservoir_sampler/processor_test.go
  test/processors/semantic_correlator/processor_test.go
Owners: @test-team

chore: format go files
  internal/connector/pic_connector/config.go
  internal/connector/pic_connector/exporter.go
  internal/connector/pic_connector/factory.go
  internal/control/configpatch/validator.go
  internal/control/pid/controller.go
  internal/control/safety/monitor.go
  internal/extension/pic_control_ext/extension.go
  internal/interfaces/updateable_processor.go
  internal/processor/adaptive_pid/config.go
  internal/processor/adaptive_pid/processor.go
  internal/processor/adaptive_topk/config.go
  internal/processor/adaptive_topk/factory.go
  internal/processor/adaptive_topk/processor.go
  internal/processor/base/config.go
  internal/processor/base/processor.go
  internal/processor/base/processor_test.go
  internal/processor/priority_tagger/processor.go
  internal/processor/reservoir_sampler/config.go
  internal/processor/reservoir_sampler/factory.go
  internal/processor/reservoir_sampler/processor.go
  pkg/metrics/pid_metrics.go
  pkg/metrics/selfmetrics.go
  pkg/util/hll/hyperloglog.go
  pkg/util/reservoir/reservoir.go
  pkg/util/topk/space_saving.go
  pkg/util/typeconv/typeconv.go
Owners: @connector-team, @control-team, @extension-team, @core-team, @processor-team

test: add type conversion unit tests
  pkg/util/typeconv/typeconv.go
  test/unit/typeconv/typeconv_test.go
  vendor/github.com/bahlo/generic-list-go/LICENSE
  vendor/github.com/bahlo/generic-list-go/README.md
  vendor/github.com/bahlo/generic-list-go/list.go
  vendor/github.com/buger/jsonparser/.gitignore
  vendor/github.com/buger/jsonparser/.travis.yml
  vendor/github.com/buger/jsonparser/Dockerfile
  vendor/github.com/buger/jsonparser/LICENSE
  vendor/github.com/buger/jsonparser/Makefile
  vendor/github.com/buger/jsonparser/README.md
  vendor/github.com/buger/jsonparser/bytes.go
  vendor/github.com/buger/jsonparser/bytes_safe.go
  vendor/github.com/buger/jsonparser/bytes_unsafe.go
  vendor/github.com/buger/jsonparser/escape.go
  vendor/github.com/buger/jsonparser/fuzz.go
  vendor/github.com/buger/jsonparser/oss-fuzz-build.sh
  vendor/github.com/buger/jsonparser/parser.go
  vendor/github.com/invopop/jsonschema/.gitignore
  vendor/github.com/invopop/jsonschema/.golangci.yml
  vendor/github.com/invopop/jsonschema/COPYING
  vendor/github.com/invopop/jsonschema/README.md
  vendor/github.com/invopop/jsonschema/id.go
  vendor/github.com/invopop/jsonschema/reflect.go
  vendor/github.com/invopop/jsonschema/reflect_comments.go
  vendor/github.com/invopop/jsonschema/schema.go
  vendor/github.com/invopop/jsonschema/utils.go
  vendor/github.com/mailru/easyjson/LICENSE
  vendor/github.com/mailru/easyjson/buffer/pool.go
  vendor/github.com/mailru/easyjson/jwriter/writer.go
  vendor/github.com/wk8/go-ordered-map/v2/.gitignore
  vendor/github.com/wk8/go-ordered-map/v2/.golangci.yml
  vendor/github.com/wk8/go-ordered-map/v2/CHANGELOG.md
  vendor/github.com/wk8/go-ordered-map/v2/LICENSE
  vendor/github.com/wk8/go-ordered-map/v2/Makefile
  vendor/github.com/wk8/go-ordered-map/v2/README.md
  vendor/github.com/wk8/go-ordered-map/v2/json.go
  vendor/github.com/wk8/go-ordered-map/v2/orderedmap.go
  vendor/github.com/wk8/go-ordered-map/v2/yaml.go
  vendor/modules.txt
Owners: @core-team, @test-team, @deepaucksharma, @docs-team

test(metrics): add pid metrics tests
  go.mod
  pkg/metrics/metrics_emitter_testtag.go
  pkg/metrics/pid_metrics.go
  test/unit/metrics/pid_metrics_test.go
Owners: @deepaucksharma, @core-team, @test-team

test: add pic_connector exporter tests
  test/connectors/pic_connector/exporter_test.go
Owners: @test-team

fix(pid_decider): use configured target name
  internal/processor/adaptive_pid/processor.go
  test/testutils/pid_helper_test.go
Owners: @processor-team, @test-team

Merge PR #73: Ensure newline at eof in docs
  .github/README.md
  CONTRIBUTING.md
  dashboards/README.md
  docs/architecture/adr/001-dual-pipeline-architecture.md
  docs/architecture/adr/20250519-use-self-regulating-pid-control-for-adaptive-processing.md
  docs/components/pid/pid_integral_controls.md
  docs/project-planning/implementation-plan.md
  docs/quickstarts/implementer.md
  docs/quickstarts/planner.md
  docs/testing/README.md
  docs/testing/master_scenario_table.md
  docs/testing/validation-framework.md
  internal/processor/others_rollup/README.md
  tasks/README.md
  test/e2e/README.md
Owners: @docs-team, @project-team

Fix type conversion issues in typeconv and UpdateableProcessor
  pkg/util/typeconv/typeconv.go
  pkg/util/typeconv/typeconv_test.go
  test/interfaces/updateable_processor_test.go
Owners: @core-team, @test-team

Update go.mod, go.sum, and vendor dependencies
  go.mod
  go.sum
  vendor/modules.txt
Owners: @deepaucksharma

Fix readme.md
  readme.md
Owners: @docs-team

Add proper README.md file
  README.md
Owners: @docs-team

Refactor hack directory structure and fix README
  hack/cmd/generate_config_schemas/main.go
  hack/cmd/validate_config/main.go
  hack/cmd/validate_policy/main.go
  internal/control/safety/config.go
  pkg/metrics/metrics_collector.go
  pkg/metrics/pid_metrics.go
  pkg/metrics/selfmetrics.go
Owners: @deepaucksharma, @control-team, @core-team

Remove duplicate readme.md
  readme.md
Owners: @docs-team

Enhance system stability and reliability
  README.md
  docs/improvements/CHANGES.md
  docs/improvements/stability-improvements.md
  internal/control/pid/circuitbreaker.go
  internal/control/pid/circuitbreaker_test.go
  internal/control/pid/controller.go
  internal/extension/pic_control_ext/extension.go
  internal/extension/pic_control_ext/opamp.go
  internal/interfaces/updateable_processor.go
  internal/processor/adaptive_pid/factory.go
  internal/processor/adaptive_pid/helpers.go
  internal/processor/adaptive_pid/processor.go
  internal/processor/adaptive_pid/test_helpers.go
  internal/processor/adaptive_topk/processor.go
  internal/processor/cardinality_guardian/processor.go
  internal/processor/others_rollup/processor.go
  internal/processor/priority_tagger/processor.go
  internal/processor/process_context_learner/processor.go
  internal/processor/reservoir_sampler/processor.go
  pkg/metrics/pid_metrics.go
  pkg/policy/schema.go
  pkg/util/bayesian/gaussian_process.go
  pkg/util/bayesian/optimizer.go
  pkg/util/bayesian/optimizer_test.go
  pkg/util/topk/space_saving.go
  pkg/util/topk/space_saving_test.go
  test/e2e/chaos/corrupt_policy_test.go
  test/e2e/distributed/coordinator_test.go
  test/e2e/pid/output_parameter_bounds_test.go
  test/e2e/pid/windup_protection_test.go
  test/e2e/pipelines/dual_pipeline_interaction_test.go
  test/e2e/pipelines/missing_self_metrics_test.go
  test/e2e/policy/invalid_parameter_type_test.go
  test/e2e/policy/non_updateable_target_test.go
  test/e2e/policy/rate_limit_test.go
  test/e2e/safety/override_thresholds_test.go
  test/extensions/pic_control_ext/extension_test.go
Owners: @docs-team, @control-team, @extension-team, @core-team, @processor-team, @test-team

Remove unused and incomplete components from the codebase
  audit/components/extensions/pic_control_ext.md
  cmd/sa-omf-otelcol/main.go
  configs/default/config.yaml
  internal/connector/pic_connector/config.go
  internal/connector/pic_connector/exporter.go
  internal/connector/pic_connector/factory.go
  internal/control/configpatch/validator.go
  internal/extension/pic_control_ext/extension.go
  internal/extension/pic_control_ext/opamp.go
  internal/extension/pic_control_ext/policy.go
  internal/extension/pic_control_ext/ratelimit.go
  internal/extension/pic_control_ext/safety.go
  internal/interfaces/updateable_processor.go
  internal/processor/adaptive_topk/processor.go
  internal/processor/cardinality_guardian/config.go
  internal/processor/cardinality_guardian/factory.go
  internal/processor/cardinality_guardian/processor.go
  internal/processor/multi_temporal_adaptive_engine/config.go
  internal/processor/multi_temporal_adaptive_engine/factory.go
  internal/processor/multi_temporal_adaptive_engine/processor.go
  internal/processor/process_context_learner/config.go
  internal/processor/process_context_learner/factory.go
  internal/processor/process_context_learner/processor.go
  test/connectors/pic_connector/exporter_test.go
  test/extensions/pic_control_ext/extension_test.go
  test/interfaces/updateable_processor_test.go
  test/processors/cardinality_guardian/processor_test.go
  test/processors/multi_temporal_adaptive_engine/processor_test.go
  test/processors/process_context_learner/processor_test.go
Owners: @docs-team, @core-team, @deepaucksharma, @connector-team, @control-team, @extension-team, @processor-team, @test-team

Update documentation to reflect component removals
  docs/cleanup-summary.md
  docs/components/connectors/README.md
  docs/components/extensions/README.md
  docs/components/processors/README.md
  docs/configuration-reference.md
  test/README.md
Owners: @docs-team

refactor: Comprehensive codebase cleanup and consolidation
  .github/codeql-config.yml
  .github/workflows/main.yml
  CONTRIBUTING.md
  README.md
  configs/default/config.yaml
  configs/default/policy.yaml
  configs/development/config.yaml
  configs/development/policy.yaml
  configs/production/config.yaml
  configs/production/policy.yaml
  configs/testing/config.yaml
  configs/testing/policy.yaml
  docs/components/processors/README.md
  docs/components/processors/adaptive_pid.md
  docs/components/processors/others_rollup.md
  internal/interfaces/updateable_processor.go
  internal/processor/adaptive_pid/consts.go
  internal/processor/adaptive_pid/factory.go
  internal/processor/reservoir_sampler/config.go
  internal/processor/reservoir_sampler/factory.go
  internal/processor/reservoir_sampler/processor.go
  internal/processor/semantic_correlator/config.go
  internal/processor/semantic_correlator/factory.go
  internal/processor/semantic_correlator/processor.go
  scripts/validation/validate_processors.sh
  test/e2e/integration/control_loop_test.go
  test/e2e/pid/output_parameter_bounds_test.go
  test/e2e/pipelines/dual_pipeline_interaction_test.go
  test/e2e/pipelines/missing_self_metrics_test.go
  test/e2e/policy/testdata/valid_policy.yaml
  test/processors/adaptive_pid/processor_test.go
  test/processors/reservoir_sampler/processor_test.go
  test/processors/semantic_correlator/processor_test.go
  test/testutils/pid_helper.go
Owners: @devops-team, @docs-team, @deepaucksharma, @core-team, @processor-team, @test-team

chore: Remove deprecated agent configuration and unused documentation
  agents/AGENTS.md
  agents/AGENT_METRICS.md
  agents/AGENT_RAILS.md
  agents/CONSOLIDATED_AGENTS.md
  agents/README.md
  agents/architect.yaml
  agents/dependabot.yaml
  agents/devops.yaml
  agents/doc-writer.yaml
  agents/implementer.yaml
  agents/integrator.yaml
  agents/planner.yaml
  agents/reviewer.yaml
  agents/security-auditor.yaml
  agents/tester.yaml
  docs/fixes/updateable-processor-type-conversion.md
  docs/pr-management/pr-fixes-summary.md
  docs/pr-management/pr-merge-plan.md
  docs/pr-management/pr-merge-summary.md
  docs/project-planning/audit-plan.md
  docs/project-planning/implementation-plan.md
  docs/project-planning/project-setup-review.md
  docs/quickstarts/implementer.md
  docs/quickstarts/planner.md
Owners: @admin-team, @docs-team

chore: align otel collector deps to v1.32
  go.mod
Owners: @deepaucksharma

enhance SetConfigByPath for nested paths
  internal/processor/base/processor.go
  internal/processor/base/processor_test.go
Owners: @processor-team

refactor processors to use BaseProcessor
  internal/processor/adaptive_pid/processor.go
  internal/processor/others_rollup/processor.go
  internal/processor/priority_tagger/processor.go
Owners: @processor-team

Return errors for bad config patch types
  internal/processor/priority_tagger/processor.go
  test/processors/priority_tagger/processor_test.go
Owners: @processor-team, @test-team

docs: Update project documentation to reflect current architecture
  .air.toml
  Makefile.streamlined
  README.md
  docs/architecture/CURRENT_STATE.md
  docs/architecture/README.md
  docs/components/processors/README.md
  docs/components/processors/adaptive_pid.md
  docs/concepts/adaptive-processing.md
  docs/concepts/modern-adaptive-architecture.md
  docs/configuration-reference.md
  docs/development-guide.md
  scripts/cleanup/apply-build-streamlining.sh
  scripts/cleanup/apply-docker-streamlining.sh
  scripts/cleanup/apply-streamlined-build.sh
  scripts/dev/create-local-env.sh
  scripts/setup/bash-completion.sh
  scripts/setup/setup-offline-build.sh
Owners: @deepaucksharma, @docs-team, @devops-team

build: Streamline build process with enhanced Makefile
  Makefile
Owners: @deepaucksharma

docs: Add script to apply documentation updates
  docs/apply-doc-updates.sh
Owners: @docs-team

docs: Add comprehensive documentation guides
  docs/README.md
  docs/guides/README.md
  docs/guides/build-process.md
  docs/guides/configuration-guide.md
  docs/guides/monitoring-guide.md
  docs/guides/quick-start-guide.md
  docs/guides/troubleshooting-guide.md
  docs/images/pid-controller-visualization.svg
  scripts/docs/apply-enhanced-docs.sh
Owners: @docs-team, @deepaucksharma

Remove task references and reset ADRs
  CHANGELOG.md
  docs/architecture/adr/20250519-use-self-regulating-pid-control-for-adaptive-processing.md
  docs/architecture/adr/README.md
  go.mod
  tasks/README.md
  tasks/components/pid/PID-001.yaml
  tasks/components/pid/PID-002.yaml
  tasks/components/pid/PID-003.yaml
  tasks/status/completed/PID-001.yaml
  tasks/status/in_progress/PID-002.yaml
  tasks/status/in_progress/PID-003.yaml
Owners: @docs-team, @deepaucksharma, @project-team

Restructure and consolidate documentation
  README.md
  docs/README.md
  docs/adaptive-processing.md
  docs/architecture.md
  docs/pid-controllers.md
  docs/quick-start.md
  go.mod
Owners: @docs-team, @deepaucksharma

Update components documentation with expanded details
  docs/components/README.md
Owners: @docs-team

Streamline build system and update dependencies
  Makefile
  go.mod
  package.json
Owners: @deepaucksharma

Comprehensive documentation update
  README.md
  docs/adaptive-processing.md
  docs/architecture/README.md
  docs/architecture/adr/20250519-use-self-regulating-pid-control-for-adaptive-processing.md
  docs/components/pid/pid_integral_controls.md
  docs/pid-controllers.md
  docs/quick-start.md
  go.mod
  go.sum
Owners: @docs-team, @deepaucksharma

Set process.pid disabled
  configs/process_metrics/config.yaml
Owners: @deepaucksharma

fix(config): correct histogram boundary value
  configs/process_metrics/config.yaml
Owners: @deepaucksharma

fix(cmd): register current processors
  cmd/sa-omf-otelcol/main.go
Owners: @core-team

feat(resource_filter): add config types used by metric pipeline
  internal/processor/resource_filter/config.go
Owners: @processor-team

Remove references to deprecated processors
  cmd/sa-omf-otelcol/main.go
  pkg/policy/schema.go
  test/README.md
  test/otlp/new_relic_validation_test.go
Owners: @core-team, @docs-team, @test-team

refactor configs to metric_pipeline
  configs/default/config.yaml
  configs/development/config.yaml
  configs/production/config.yaml
  configs/testing/config.yaml
Owners: @deepaucksharma

style: gofmt placeholder packages
  go.mod
  internal/connector/pic_connector/factory.go
  internal/control/configpatch/validator.go
  internal/processor/adaptive_topk/factory.go
  internal/processor/others_rollup/factory.go
  internal/processor/priority_tagger/factory.go
  internal/processor/reservoir_sampler/factory.go
  internal/processor/resource_filter/types.go
Owners: @deepaucksharma, @connector-team, @control-team, @processor-team

test(integration): add newrelic pipeline test
  test/e2e/integration/newrelic_pipeline_test.go
Owners: @test-team

.github/CODEOWNERS:

# Phoenix CODEOWNERS File

# Default owners for everything
*                   @deepaucksharma

# Core components
/cmd/                @core-team
/internal/           @core-team
/pkg/                @core-team

# Specific component ownership
/internal/processor/  @processor-team
/internal/extension/  @extension-team
/internal/connector/  @connector-team
/internal/control/    @control-team

# Test ownership
/test/               @test-team

# Infrastructure
/.github/            @devops-team
/deploy/             @devops-team
/scripts/dev/        @devops-team

# Documentation
/docs/               @docs-team
*.md                 @docs-team

# Task definitions
/tasks/              @project-team

# Agent definitions
/agents/             @admin-team
/AGENTS.md           @admin-team
