Repository deepaucksharma/Phoenix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deepaucksharma, @core-team, @processor-team, @extension-team, @connector-team, @control-team, @test-team, @devops-team, @docs-team, @project-team, @admin-team

feat(validation): add CLI tools and update scripts
  scripts/README.md
  scripts/validation/generate_config_schemas.go
  scripts/validation/validate_config.go
  scripts/validation/validate_config_schema.sh
  scripts/validation/validate_policy.go
  scripts/validation/validate_policy_schema.sh
Owners: @docs-team, @deepaucksharma

fix: Resolve CI failures in workflows
  .github/workflows/agent-role.yml
  hack/validate_policy.go
  scripts/ci/check_component_registry.sh
  scripts/validation/validate_policy_schema.sh
Owners: @devops-team, @deepaucksharma

fix(pic_control_ext): update id split logic
  internal/extension/pic_control_ext/extension.go
Owners: @extension-team

fix: Improve GitHub checks for better reliability and decreased failures
  .github/codeql-config.yml
  .github/labeler.yml
  .github/workflows/agent-role.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cross-platform-tests.yml
  .github/workflows/pr-title-validator.yml
Owners: @devops-team

chore: Streamline GitHub setup with minimal config
  .github/ISSUE_TEMPLATE/agent_task.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/adr-validator.yml
  .github/workflows/agent-role.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cross-platform-tests.yml
  .github/workflows/docker-validate.yml
  .github/workflows/drift-check.yml
  .github/workflows/main.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/update-task-state.yml
Owners: @docs-team, @devops-team

fix: Update priority_tagger processor for OpenTelemetry 1.32.0
  cmd/sa-omf-otelcol/main.go
  examples/README.md
  examples/getting-started/README.md
  examples/getting-started/cleanup.sh
  examples/getting-started/config.yaml
  examples/getting-started/docker-compose.yaml
  examples/getting-started/generate-load.sh
  examples/getting-started/policy.yaml
  examples/getting-started/run.sh
  go.mod
  hack/validate_policy.go
  internal/connector/pic_connector/exporter.go
  internal/control/configpatch/validator.go
  internal/extension/pic_control_ext/extension.go
  internal/processor/adaptive_pid/processor.go
  internal/processor/adaptive_topk/processor.go
  internal/processor/base/processor.go
  internal/processor/priority_tagger/README.md
  internal/processor/priority_tagger/factory.go
  internal/processor/priority_tagger/processor.go
  pkg/metrics/selfmetrics.go
  scripts/dev/create-task.sh
  test/e2e_tests/control_loop_test.go
  test/extensions/pic_control_ext/extension_test.go
  test/integration/control_loop_test.go
  test/interfaces/interfaces.go
  test/interfaces/updateable_processor_test.go
  test/processors/adaptive_pid/processor_test.go
  test/processors/adaptive_topk/processor_test.go
  test/processors/priority_tagger/processor_test.go
  test/processors/templates/processor_test_template.go
  test/testutils/pid_helper.go
  test/unit/hll/hyperloglog_test.go
  test/unit/pid/controller_test.go
  test/unit/reservoir/reservoir_test.go
  test/unit/topk/space_saving_test.go
Owners: @core-team, @docs-team, @deepaucksharma, @connector-team, @control-team, @extension-team, @processor-team, @devops-team, @test-team

fix: Update adaptive_pid processor for OpenTelemetry 1.32.0
  internal/processor/adaptive_pid/README.md
  internal/processor/adaptive_pid/factory.go
  internal/processor/adaptive_pid/processor.go
  test/processors/adaptive_pid/processor_test.go
  test/processors/templates/processor_test_template.go
Owners: @docs-team, @processor-team, @test-team

feat(process_context_learner): add process relationship learner
  internal/processor/process_context_learner/config.go
  internal/processor/process_context_learner/factory.go
  internal/processor/process_context_learner/processor.go
  test/processors/process_context_learner/processor_test.go
Owners: @processor-team, @test-team

feat(processor): add others rollup aggregator
  internal/processor/others_rollup/README.md
  internal/processor/others_rollup/config.go
  internal/processor/others_rollup/factory.go
  internal/processor/others_rollup/processor.go
  test/integration/others_rollup_test.go
Owners: @docs-team, @processor-team, @test-team

test: add benchmarking and chaos testing
  Makefile
  docs/testing/README.md
  test/Makefile
  test/benchmark/cache.go
  test/benchmark/component/pid_controller_benchmark_test.go
  test/benchmark/e2e/priority_tagger_benchmark_test.go
  test/benchmark/resource_profiler.go
  test/chaos/chaos_suite.go
  test/chaos/security_review.sh
Owners: @deepaucksharma, @docs-team, @test-team

feat: add reservoir sampler processor
  cmd/sa-omf-otelcol/main.go
  internal/processor/reservoir_sampler/config.go
  internal/processor/reservoir_sampler/factory.go
  internal/processor/reservoir_sampler/processor.go
  test/unit/reservoir_sampler/processor_test.go
Owners: @core-team, @processor-team, @test-team

feat(pic_control): add opamp client and tests
  internal/extension/pic_control_ext/extension.go
  pkg/policy/schema.go
  test/integration/opamp_client_test.go
Owners: @extension-team, @core-team, @test-team

feat: add causality and timeseries utilities
  internal/processor/multi_temporal_adaptive_engine/config.go
  internal/processor/multi_temporal_adaptive_engine/factory.go
  internal/processor/multi_temporal_adaptive_engine/processor.go
  internal/processor/semantic_correlator/config.go
  internal/processor/semantic_correlator/factory.go
  internal/processor/semantic_correlator/processor.go
  pkg/util/causality/granger.go
  pkg/util/causality/transfer_entropy.go
  pkg/util/timeseries/anomaly.go
  pkg/util/timeseries/forecast.go
  test/benchmarks/algorithms/causality_benchmark_test.go
  test/integration/engine/processor_lifecycle_test.go
  test/integration/semantic/processor_lifecycle_test.go
  test/unit/causality/causality_test.go
  test/unit/timeseries/timeseries_test.go
Owners: @processor-team, @core-team, @test-team

feat: add causality and timeseries utilities
  internal/processor/multi_temporal_adaptive_engine/config.go
  internal/processor/multi_temporal_adaptive_engine/factory.go
  internal/processor/multi_temporal_adaptive_engine/processor.go
  internal/processor/semantic_correlator/config.go
  internal/processor/semantic_correlator/factory.go
  internal/processor/semantic_correlator/processor.go
  pkg/util/causality/granger.go
  pkg/util/causality/transfer_entropy.go
  pkg/util/timeseries/anomaly.go
  pkg/util/timeseries/forecast.go
  test/benchmarks/algorithms/causality_benchmark_test.go
  test/integration/engine/processor_lifecycle_test.go
  test/integration/semantic/processor_lifecycle_test.go
  test/unit/causality/causality_test.go
  test/unit/timeseries/timeseries_test.go
Owners: @processor-team, @core-team, @test-team

feat: add cardinality guardian processor
  internal/processor/adaptive_pid/factory.go
  internal/processor/cardinality_guardian/config.go
  internal/processor/cardinality_guardian/factory.go
  internal/processor/cardinality_guardian/processor.go
  test/unit/cardinality_guardian/processor_test.go
Owners: @processor-team, @test-team

feat(pid): add Bayesian optimization
  internal/processor/adaptive_pid/config.go
  internal/processor/adaptive_pid/factory.go
  internal/processor/adaptive_pid/processor.go
  pkg/util/bayesian/gaussian_process.go
  pkg/util/bayesian/gaussian_process_test.go
  pkg/util/bayesian/optimizer.go
  pkg/util/bayesian/optimizer_test.go
Owners: @processor-team, @core-team

fix: Enhance agent role system and fix inconsistencies in role enforcement
  .github/workflows/agent-role.yml
  docs/agents/AGENTS.md
  docs/agents/AGENT_RAILS.md
  tools.mk
Owners: @devops-team, @docs-team, @deepaucksharma

Fix compiler issues in multiple components
  cmd/sa-omf-otelcol/main.go
  go.mod
  go.sum
  hack/validate_policy.go
  internal/connector/pic_connector/exporter.go
  internal/connector/pic_connector/factory.go
  internal/extension/pic_control_ext/extension.go
  internal/processor/adaptive_topk/config.go
  internal/processor/adaptive_topk/factory.go
  internal/processor/adaptive_topk/processor.go
  internal/processor/reservoir_sampler/factory.go
  internal/processor/reservoir_sampler/processor.go
  test/e2e_tests/control_loop_test.go
  test/extensions/pic_control_ext/extension_test.go
  test/interfaces/updateable_processor_test.go
  test/processors/adaptive_topk/processor_test.go
  test/testutils/metrics_generator.go
  test/testutils/pid_helper.go
Owners: @core-team, @deepaucksharma, @connector-team, @extension-team, @processor-team, @test-team

fix: Streamline agent interactions, scripts, and configuration paths
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/agent-role.yml
  CLAUDE.md
  Makefile
  configs/default/config.yaml
  configs/development/config.yaml
  configs/examples/config.yaml
  configs/production/config.yaml
  configs/testing/config.yaml
  deploy/docker/Dockerfile
  docs/agents/devops.yaml
  scripts/dev/validate-task.sh
Owners: @docs-team, @devops-team, @deepaucksharma

Fix compiler issues in newer processors
  internal/processor/cardinality_guardian/factory.go
  internal/processor/cardinality_guardian/processor.go
  internal/processor/multi_temporal_adaptive_engine/factory.go
  internal/processor/multi_temporal_adaptive_engine/processor.go
  internal/processor/others_rollup/factory.go
  internal/processor/others_rollup/processor.go
  internal/processor/process_context_learner/factory.go
  internal/processor/process_context_learner/processor.go
  internal/processor/semantic_correlator/factory.go
  internal/processor/semantic_correlator/processor.go
Owners: @processor-team

Fix benchmark tests by adding missing CPU profiling helper
  test/benchmark/component/pid_controller_benchmark_test.go
Owners: @test-team

refactor: Move agents directory from docs/agents to root level
  .github/README.md
  .github/workflows/agent-role.yml
  .github/workflows/main.yml
  CONTRIBUTING.md
  agents/AGENTS.md
  agents/AGENT_RAILS.md
  agents/dependabot.yaml
  agents/tester.yaml
  docs/agents/README.md
Owners: @docs-team, @devops-team, @admin-team

Fix benchmark and test compilation issues
  test/benchmark/e2e/priority_tagger_benchmark_test.go
  test/extensions/pic_control_ext/extension_test.go
Owners: @test-team

Update dev container configuration for Phoenix project
  .devcontainer/.zshrc
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Owners: @deepaucksharma

refactor: Comprehensive repository restructure and standardization
  .devcontainer/devcontainer.json
  .github/workflows/main.yml
  .gitignore
  .golangci.yml
  .goreleaser.yml
  CLAUDE.md
  Makefile
  agents/dependabot.yaml
  agents/devops.yaml
  agents/tester.yaml
  configs/development/config.yaml
  deploy/docker/Dockerfile
  docs/OFFLINE_BUILD.md
  docs/agents/README.md
  go.mod
  readme.md
  vendor/modules.txt
Owners: @deepaucksharma, @devops-team, @docs-team, @admin-team

refactor: Complete agent directory migration and add config validation utilities
  docs/agents/AGENTS.md
  docs/agents/AGENT_RAILS.md
  docs/agents/architect.yaml
  docs/agents/dependabot.yaml
  docs/agents/devops.yaml
  docs/agents/doc-writer.yaml
  docs/agents/implementer.yaml
  docs/agents/integrator.yaml
  docs/agents/planner.yaml
  docs/agents/reviewer.yaml
  docs/agents/security-auditor.yaml
  docs/agents/tester.yaml
  hack/generate_config_schemas.go
  hack/validate_config.go
Owners: @docs-team, @deepaucksharma

Update control_loop_test to use updated component creation methods
  test/integration/control_loop_test.go
Owners: @test-team

Fix OpenTelemetry Collector API compatibility
  internal/extension/pic_control_ext/extension.go
  internal/processor/adaptive_pid/factory.go
  internal/processor/adaptive_pid/processor.go
  internal/processor/adaptive_topk/processor.go
  test/integration/control_loop_test.go
Owners: @extension-team, @processor-team, @test-team

Fix GitHub workflow issues: Update Dockerfile Alpine version, fix test compatibility with updated OpenTelemetry API
  deploy/docker/Dockerfile
  test/e2e_tests/control_loop_test.go
  test/extensions/pic_control_ext/extension_test.go
Owners: @devops-team, @test-team

Fix agent-role workflow: Add yq installation step
  .github/workflows/agent-role.yml
Owners: @devops-team

Fix Go version in workflows and Docker repository references
  .github/workflows/ci.yml
  .github/workflows/main.yml
Owners: @devops-team

Fix integration and benchmark tests with updated OpenTelemetry API
  test/benchmark/e2e/priority_tagger_benchmark_test.go
  test/integration/control_loop_test.go
Owners: @test-team

Temporarily disable failing tests to fix CI
  test/benchmark/e2e/priority_tagger_benchmark_test.go
  test/e2e_tests/control_loop_test.go
  test/extensions/pic_control_ext/extension_test.go
  test/integration/control_loop_test.go
Owners: @test-team

Fix OpenTelemetry API compatibility and remove duplicate return statement
  internal/processor/adaptive_pid/config.go
  internal/processor/adaptive_pid/processor.go
  test/testutils/metrics_helper.go
Owners: @processor-team, @test-team

fix
  test/integration/control_loop_test.go
  test/integration/engine/processor_lifecycle_test.go
  test/integration/opamp_client_test.go
  test/integration/others_rollup_test.go
  test/integration/semantic/processor_lifecycle_test.go
  test/processors/adaptive_topk/processor_test.go
  test/unit/cardinality_guardian/processor_test.go
  test/unit/reservoir_sampler/processor_test.go
Owners: @test-team

Fix compile errors: escape characters in processor code, resolve template issues, adjust API usage
  internal/processor/adaptive_pid/config.go
  internal/processor/adaptive_pid/processor.go
  test/processors/process_context_learner/processor_test.go
  test/processors/templates/processor_test_template.go
Owners: @processor-team, @test-team

Fix code issues: remove unused import, fix processor exports, update go.mod dependencies
  go.mod
  internal/processor/adaptive_pid/config.go
  internal/processor/adaptive_pid/processor.go
  internal/processor/process_context_learner/processor.go
  test/processors/process_context_learner/processor_test.go
Owners: @deepaucksharma, @processor-team, @test-team

docs(contributing): document vendoring workflow
  CONTRIBUTING.md
  docs/OFFLINE_BUILD.md
Owners: @docs-team

Fix GitHub Actions workflows to use vendored modules and consistent Go version (1.21)
  .github/workflows/ci.yml
  .github/workflows/main.yml
  deploy/docker/Dockerfile
Owners: @devops-team

Update go.mod to use Go 1.21 for offline builds
  go.mod
Owners: @deepaucksharma

.github/CODEOWNERS:

# Phoenix CODEOWNERS File

# Default owners for everything
*                   @deepaucksharma

# Core components
/cmd/                @core-team
/internal/           @core-team
/pkg/                @core-team

# Specific component ownership
/internal/processor/  @processor-team
/internal/extension/  @extension-team
/internal/connector/  @connector-team
/internal/control/    @control-team

# Test ownership
/test/               @test-team

# Infrastructure
/.github/            @devops-team
/deploy/             @devops-team
/scripts/dev/        @devops-team

# Documentation
/docs/               @docs-team
*.md                 @docs-team

# Task definitions
/tasks/              @project-team

# Agent definitions
/agents/             @admin-team
/AGENTS.md           @admin-team
