Repository deepaucksharma/Phoenix, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, dependencies, core, processors, extensions, connectors, tests, config, utilities, build

fix: Enhance agent role system and fix inconsistencies in role enforcement
  .github/workflows/agent-role.yml
  docs/agents/AGENTS.md
  docs/agents/AGENT_RAILS.md
  tools.mk
Labels: ci

Fix compiler issues in multiple components
  cmd/sa-omf-otelcol/main.go
  go.mod
  go.sum
  hack/validate_policy.go
  internal/connector/pic_connector/exporter.go
  internal/connector/pic_connector/factory.go
  internal/extension/pic_control_ext/extension.go
  internal/processor/adaptive_topk/config.go
  internal/processor/adaptive_topk/factory.go
  internal/processor/adaptive_topk/processor.go
  internal/processor/reservoir_sampler/factory.go
  internal/processor/reservoir_sampler/processor.go
  test/e2e_tests/control_loop_test.go
  test/extensions/pic_control_ext/extension_test.go
  test/interfaces/updateable_processor_test.go
  test/processors/adaptive_topk/processor_test.go
  test/testutils/metrics_generator.go
  test/testutils/pid_helper.go
Labels: processors, extensions, connectors, tests

fix: Streamline agent interactions, scripts, and configuration paths
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/agent-role.yml
  CLAUDE.md
  Makefile
  configs/default/config.yaml
  configs/development/config.yaml
  configs/examples/config.yaml
  configs/production/config.yaml
  configs/testing/config.yaml
  deploy/docker/Dockerfile
  docs/agents/devops.yaml
  scripts/dev/validate-task.sh
Labels: ci

Fix compiler issues in newer processors
  internal/processor/cardinality_guardian/factory.go
  internal/processor/cardinality_guardian/processor.go
  internal/processor/multi_temporal_adaptive_engine/factory.go
  internal/processor/multi_temporal_adaptive_engine/processor.go
  internal/processor/others_rollup/factory.go
  internal/processor/others_rollup/processor.go
  internal/processor/process_context_learner/factory.go
  internal/processor/process_context_learner/processor.go
  internal/processor/semantic_correlator/factory.go
  internal/processor/semantic_correlator/processor.go
Labels: processors

Fix benchmark tests by adding missing CPU profiling helper
  test/benchmark/component/pid_controller_benchmark_test.go
Labels: tests

refactor: Move agents directory from docs/agents to root level
  .github/README.md
  .github/workflows/agent-role.yml
  .github/workflows/main.yml
  CONTRIBUTING.md
  agents/AGENTS.md
  agents/AGENT_RAILS.md
  agents/dependabot.yaml
  agents/tester.yaml
  docs/agents/README.md
Labels: ci

Fix benchmark and test compilation issues
  test/benchmark/e2e/priority_tagger_benchmark_test.go
  test/extensions/pic_control_ext/extension_test.go
Labels: tests

Update dev container configuration for Phoenix project
  .devcontainer/.zshrc
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Labels: none

refactor: Comprehensive repository restructure and standardization
  .devcontainer/devcontainer.json
  .github/workflows/main.yml
  .gitignore
  .golangci.yml
  .goreleaser.yml
  CLAUDE.md
  Makefile
  agents/dependabot.yaml
  agents/devops.yaml
  agents/tester.yaml
  configs/development/config.yaml
  deploy/docker/Dockerfile
  docs/OFFLINE_BUILD.md
  docs/agents/README.md
  go.mod
  readme.md
  vendor/modules.txt
Labels: ci

.github/labeler.yml:

# PR Labeler Configuration
# Documentation: https://github.com/actions/labeler

documentation:
- any: ['docs/**/*', '**/*.md', 'README.md', 'CONTRIBUTING.md']

ci:
- any: ['.github/**/*', '.github/workflows/*']

dependencies: 
- any: ['go.mod', 'go.sum']

core:
- any: ['internal/interfaces/**/*', 'internal/control/**/*']

processors:
- any: ['internal/processor/**/*']

extensions:
- any: ['internal/extension/**/*']

connectors:
- any: ['internal/connector/**/*']

tests:
- any: ['test/**/*', '**/*_test.go']

config:
- any: ['configs/**/*', 'deploy/**/*', '*.yaml', '*.yml']

utilities:
- any: ['pkg/**/*']

build:
- any: ['Makefile', 'tools.mk', 'cmd/**/*']
