Repository deepaucksharma/Phoenix, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, dependencies, core, processors, extensions, connectors, tests, config, utilities, build

chore(tasks): close PID-001 with commit reference
  tasks/PID-001.yaml
Labels: none

devops: add codex configuration
  .codexignore
  codex.yml
  readme.md
Labels: documentation, config

feat(tools): add codex chunker script
  AGENTS.md
  docs/quickstarts/implementer.md
  hack/codex-chunker.sh
Labels: documentation

fix(tasks): use done state for PID-001
  tasks/PID-001.yaml
Labels: none

Fix compilation errors and test failures
  go.mod
  go.sum
  internal/interfaces/updateable_processor.go
  internal/processor/base/processor.go
  pkg/metrics/selfmetrics.go
  pkg/util/hll/hyperloglog.go
  test/unit/hll/hyperloglog_test.go
Labels: dependencies, core, processors, tests, utilities

Fix CI workflow failures
  .github/workflows/ci.yml
  cmd/sa-omf-otelcol/main.go
  go.mod
  pr-fixes-summary.md
  test/integration/control_loop_test.go
Labels: documentation, ci, dependencies, tests, build

fix(build): register components and ignore base
  cmd/sa-omf-otelcol/main.go
  hack/check_component_registry.sh
Labels: build

Streamline project structure and organization
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  cmd/sa-omf-otelcol/main.go
  config/policy.yaml
  configs/README.md
  configs/default/config.yaml
  configs/default/policy.yaml
  configs/examples/config.yaml
  configs/examples/policy.yaml
  deploy/README.md
  deploy/compose/bare/docker-compose.yaml
  deploy/compose/docker-compose.yml
  deploy/compose/full/docker-compose.yaml
  deploy/compose/full/prometheus.yml
  deploy/compose/prometheus/docker-compose.yaml
  deploy/compose/prometheus/prometheus.yml
  docs/README.md
  docs/adr
  docs/agents/AGENTS.md
  docs/agents/AGENT_RAILS.md
  docs/agents/architect.yaml
  docs/agents/devops.yaml
  docs/agents/doc-writer.yaml
  docs/agents/implementer.yaml
  docs/agents/integrator.yaml
  docs/agents/planner.yaml
  docs/agents/reviewer.yaml
  docs/agents/security-auditor.yaml
  docs/architecture/adr/README.md
  readme.md
  scripts/README.md
  scripts/ci/check_component_registry.sh
  scripts/dev/create-branch.sh
  scripts/dev/create-task.sh
  scripts/dev/new-adr.sh
  scripts/dev/new-component.sh
  scripts/dev/validate-adr.sh
  scripts/validation/validate_config_schema.sh
  scripts/validation/validate_policy_schema.sh
Labels: documentation, ci, config, build

Remove redundant files after project reorganization
  config/config.yaml
  config/policy.yaml
  consolidation-plan.md
  consolidation-summary.md
  examples/README.md
  examples/config.yaml
  examples/policy.yaml
  hack/check_component_registry.sh
  hack/create-branch.sh
  hack/create-task.sh
  hack/generate_config_schemas.go
  hack/install-hooks.sh
  hack/new-adr.sh
  hack/new-component.sh
  hack/validate-adr.sh
  hack/validate-task.sh
  hack/validate_config.go
  hack/validate_config_schema.sh
  hack/validate_policy.go
  hack/validate_policy_schema.sh
  test-environments/bare/docker-compose.yaml
  test-environments/full/docker-compose.yaml
  test-environments/full/prometheus.yml
  test-environments/prometheus/docker-compose.yaml
  test-environments/prometheus/prometheus.yml
Labels: documentation, config

fix(build): register components and ignore base (#10)
  cmd/sa-omf-otelcol/main.go
  scripts/ci/check_component_registry.sh
Labels: build

Streamline project structure
  Makefile
  cmd/sa-omf-otelcol/main.go
  configs/README.md
  configs/development/config.yaml
  configs/development/policy.yaml
  configs/production/config.yaml
  configs/production/policy.yaml
  configs/testing/config.yaml
  configs/testing/policy.yaml
  docs/README.md
  docs/components/connectors/README.md
  docs/components/extensions/README.md
  docs/components/pid/pid_integral_controls.md
  docs/components/processors/README.md
  docs/concepts/README.md
  examples/README.md
  examples/getting-started/README.md
  examples/getting-started/cleanup.sh
  examples/getting-started/config.yaml
  examples/getting-started/docker-compose.yaml
  examples/getting-started/generate-load.sh
  examples/getting-started/policy.yaml
  examples/getting-started/run.sh
  internal/connector/pic_connector/config.go
  internal/connector/pic_connector/exporter.go
  internal/connector/pic_connector/factory.go
  internal/extension/pic_control_ext/extension.go
  internal/processor/priority_tagger/factory.go
  internal/processor/priority_tagger/processor.go
  test/README.md
  test/benchmark/README.md
  test/benchmarks/README.md
  test/e2e_tests/control_loop_test.go
  test/extensions/pic_control_ext/extension_test.go
  test/integration/control_loop_test.go
  test/processors/priority_tagger/processor_test.go
  test/processors/templates/processor_test_template.go
Labels: documentation, processors, extensions, connectors, tests, build

Fix failing checks: Update agent role validation workflow, add dependabot role, update PR labeler, and fix code issues
  .github/workflows/agent-role.yml
  .github/workflows/pr-labeler.yml
  agents/dependabot.yaml
  internal/extension/piccontrolext/extension.go
  internal/processor/adaptive_pid/processor.go
Labels: ci, processors, extensions

Improve GitHub workflows and CI/CD
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cross-platform-tests.yml
  .github/workflows/docker-validate.yml
  .github/workflows/drift-check.yml
  .github/workflows/release.yml
  .golangci.yml
  .goreleaser.yml
  readme.md
Labels: documentation, ci, config

docs: Update README with CI badges and Dependabot info
  readme.md
Labels: documentation

fix: Github workflows and project configuration to improve CI/CD process
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/README.md
  .github/mergify.yml
  .github/workflows/agent-role.yml
  .github/workflows/ci.yml
  docs/agents/dependabot.yaml
Labels: documentation, ci

chore: Add agents directory for compatibility
  agents/architect.yaml
  agents/devops.yaml
  agents/doc-writer.yaml
  agents/implementer.yaml
  agents/integrator.yaml
  agents/planner.yaml
  agents/reviewer.yaml
  agents/security-auditor.yaml
Labels: none

fix: Improve agent role validation workflow to handle non-PR context
  .github/workflows/agent-role.yml
Labels: ci

chore: Set up project meta implementation
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/agent_task.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/adr-validator.yml
  .github/workflows/benchmarks.yml
  .goreleaser.yml
  CHANGELOG.md
  CLAUDE.md
  docs/agents/tester.yaml
  scripts/dev/create-task.sh
  scripts/dev/templates/task-template.yaml
Labels: documentation, ci, config

docs(hll): clarify 32-bit hash in comments
  pkg/util/hll/hyperloglog.go
Labels: utilities

build(tools): update integrator scripts paths
  tools.mk
Labels: build

docs: update script references
  .github/CODEOWNERS
  docs/agents/AGENT_RAILS.md
  docs/architecture/adr/README.md
  docs/quickstarts/implementer.md
  docs/quickstarts/planner.md
Labels: documentation, ci

feat(validation): add CLI tools and update scripts
  scripts/README.md
  scripts/validation/generate_config_schemas.go
  scripts/validation/validate_config.go
  scripts/validation/validate_config_schema.sh
  scripts/validation/validate_policy.go
  scripts/validation/validate_policy_schema.sh
Labels: documentation

fix: Resolve CI failures in workflows
  .github/workflows/agent-role.yml
  hack/validate_policy.go
  scripts/ci/check_component_registry.sh
  scripts/validation/validate_policy_schema.sh
Labels: ci

fix(pic_control_ext): update id split logic
  internal/extension/pic_control_ext/extension.go
Labels: extensions

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - '**/*.md'
  - 'README.md'
  - 'CONTRIBUTING.md'

ci:
  - '.github/**/*'
  - '.github/workflows/*'

dependencies:
  - 'go.mod'
  - 'go.sum'

core:
  - 'internal/interfaces/**/*'
  - 'internal/control/**/*'

processors:
  - 'internal/processor/**/*'

extensions:
  - 'internal/extension/**/*'

connectors:
  - 'internal/connector/**/*'

tests:
  - 'test/**/*'
  - '**/*_test.go'

config:
  - 'config/**/*'
  - 'deploy/**/*'
  - '*.yaml'
  - '*.yml'

utilities:
  - 'pkg/**/*'

build:
  - 'Makefile'
  - 'tools.mk'
  - 'cmd/**/*'
